@import '../variable.scss';
.infodetail{
    background-color: $DEFAULT_BACKGROUND;
    &>div:nth-child(2){
        padding-top: rem(51.5px);
        padding-left: rem(15px);
        padding-right: rem(15px);
        padding-bottom: rem(15px);
        background-color: $BACKGROUND;
        &>h2{
            font-size: rem(16.5px);
            margin-bottom: rem(7.5px);
        }
        &>p{
            font-size: rem(13.5px);
        }
    }

    &>div:last-child{
        width: 100%;
        font-size: rem(14px);
        background-color: transparent;
        text-indent: rem(37.5px);
        line-height: rem(25px);
        padding: 0 rem(10px);
        img{
            width: 100%!important;
            display: block;
        }
    }
}