@import '../variable';
.infoPage{
    background-color: #f4f4f4;
    position: relative;
    height: 100%;
    .top1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: rem(45px);
        font-size: rem(18px);
        background: $HEADER_COLOR;
        color: white;
    }
    .linkBox {
        display: flex;
        >a{
          flex: 1;
          padding: rem(8px) 0 0;
          display: flex;
          justify-content: center;
          img{
            width: rem(180px);
            height: rem(90px)
          }
        }
      }
    .nav{
        display: flex;
        border-bottom: 1px solid #e1e1e1;
        width: 90%;
        margin: auto;
        border-radius: 0.53333rem;
        background: #FFFFFF;
        padding: 0 rem(20px);
        z-index: 98;
        justify-content: space-between;
        a{
            text-align: center;
            font-size: rem(16px);
            height: rem(45px);
            line-height: rem(45px);
            color: #000;
            display: flex;
        }
        .selected{
            >div{
                align-self: center;
                height: rem(40px);
                line-height: rem(40px);
                font-size: rem(20px);
                border-bottom: 3px solid #256BA1;
            }
        }
    }
    .noticeBox{
        height: 100%;
        .main{
            height: 100%;
            overflow: auto;
            ul{
                padding-bottom: rem(70px);
            }
        }
    }
    .gold, .oil{
        flex: 1;
        display: block;
        margin-bottom: rem(58px);
        tr{
            td{
            border-bottom: 1px solid #e1e1e1;
            a {
                background-color: white;
                display: flex;
                flex-direction: row;
                margin-bottom:rem(8px);
                padding: rem(15px) rem(15px) rem(10px) rem(15px);
            }
            div:first-child{
                display: inline;
                flex:1;
                margin-right: rem(7.5px);
                position: relative;
                h2{
                    font-size: rem(15px);
                    color: $DEEP_GREY_FONT_COLOR;
                    font-weight: bold;
                    line-height: 1.2;
                }
                p{
                    font-size: rem(13.5px);
                    color: #999;
                    line-height: rem(37.5);
                }
                p::after{
                        content: '...';
                        color: #999;
                        font-size: rem(15px);
                        position: absolute;
                        bottom: rem(18px);
                        right: 6px;
                    }
            }
            div:last-child{
                display: block;
                max-width: rem(120px);
                img{
                    width: 100%;
                }
            }
            }
        }
    }

    .live{
        margin-bottom: rem(58px);
        background: #FFFFFF;
        &>tbody{
            &>tr{
                font-size: 0;
                &>td{
                    border-left: 1px solid $HEADER_COLOR;
                    padding: rem(7.5px) rem(7.5px) rem(7.5px) rem(33.75px);
                    margin-left: rem(9.75px);
                    position: relative;
                    display: block;
                    &>div:first-child{
                        display: inline-block;
                        font-size: rem(13.5px);
                        background:#ffe6e5 ;
                        color: #d43c33;
                        padding:rem(6px);
                        border-radius:rem(5px) ;
                        margin-top: rem(-5px);
                    }
                    &>div:last-child{
                        font-size: rem(13.5px);
                        border-radius: rem(8px);
                        padding: rem(8px);
                        color: $BASIC_FONT_COLOR;
                        line-height: rem(20px);
                        table{
                            width: 100%;
                            margin-top: rem(5px);
                            tr{
                                line-height: rem(24px);
                                td{
                                    font-size: rem(11px);
                                    vertical-align: middle
                                }

                                td:last-child{
                                    &>img{
                                        width: rem(30px);
                                        display: block;
                                    }
                                }
                            }

                            tr:last-child{
                                td:last-child{
                                    text-align: center;
                                    div:first-child{
                                        color: red;
                                        border: 1px solid red;
                                    }
                                    div:last-child{
                                        display: inline;
                                    }
                                    .likong {
                                        border: 0.05em solid #03b28e;
                                        color: #03b28e;
                                        padding: rem(2px) rem(5px) 0;
                                    }
                                    .liduo {
                                        border: 0.05em solid #fb4b55;
                                        color: #fb4b55;
                                        padding-left: rem(5px);
                                        padding-right: rem(5px);
                                    }
                                }
                            }
                        }
                    }
                }
                &>td:first-child:before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: $HEADER_COLOR;
                    position: absolute;
                    left: -4px;
                    top: rem(13.5px);
                }
    
                &>td:first-child::after{
                    content: '';
                    width: rem(30px);
                    position: absolute;
                    left: 4px;
                    top: rem(16.5px);
                    border-bottom: 2px solid $HEADER_COLOR;
                }
            }
        }
    }

    .financeBox {
        background: white;
        padding-bottom: rem(55px);
        min-height:rem(560px);
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            >.month{
                flex:1.8;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                font-size: rem(14px);
                color:#868686;
                border-right: 1px solid #DEDEDE;
                span{
                    line-height: 150%;
                }
            }
            .date {
                flex:8.2;
                display: flex;
                font-size: rem(12px);
                text-align: center;
                padding: rem(10px);
                > div {
                    flex:1;
                    margin: 0 rem(7px);
                    color:#424242;
                    div {
                        &:first-child{
                            line-height:2;
                        }
                        &:last-child {
                            font-size: rem(12px);
                            span {
                                display: block;
                                margin:0 auto;
                                width: rem(23px);
                                height: rem(23px);
                                line-height: rem(23px);
                                border-radius: 50%;
                            }
                        }
                    }
                }
                .active {
                    color: $BUTTON_COLOR;
                    > div {
                        &:last-child {
                            color: $DEFAULT_BACKGROUND;
                            span {
                                background: $BUTTON_COLOR;
                            }
                        }
                    }
                }
            }
        }
        .newsBox {
            padding-top: rem(10px);
            .newsInfo {
                // background: $DEFAULT_BACKGROUND;
                display: flex;
                font-size: rem(16px);
                color: $BASIC_FONT_COLOR;
                padding: rem(10px) rem(10px);
                border-bottom: 1px solid #EEEEEE;
                margin: rem(5px) 0;
                flex: 1;
                .time {
                    flex: .15;
                    text-align: center;
                    img {
                        width: rem(35px);
                        margin-bottom: rem(5px);
                    }
                    p {
                        font-size: rem(12px);
                        color:#797979;
                    }
                }
                .info {
                    flex: .85;
                    padding-left: rem(10px);
                    // background: $DEFAULT_BACKGROUND;
                    height: 100%;
                    > div {
                        display: flex;
                        justify-content: space-between;
                        &:first-child {
                            span {
                                border: 1px solid $FALL;
                                color: $FALL;
                                font-size: rem(14px);
                                padding: rem(3px);
                                border-radius: rem(3px);
                            }
                            .spanColor {
                                border: 1px solid $DARK_RED;
                                color: $DARK_RED;
                            }
                        }
                        .stars{
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            width: rem(60px);
                        }
                    }
                    p {
                        margin: rem(15px) 0;
                        font-size: rem(14px);
                        color: #333333;
                        line-height: rem(16px);
                    }
                    .last {
                        color:#AFAFAF;
                        font-size: rem(12px);
                        display: flex;
                        margin-left: rem(-25px);
                        div{
                            flex: 1;
                            text-align: center;
                            border-right: 1px solid #AFAFAF;
                            >span{
                                color:$BASIC_COLOR;
                            }
                        }
                        div:last-child{
                            border: none;
                        }
                    }
                }
            }
        }
        .imgWrap1{
            position: relative;
            text-align: center;
            height: rem(200px);
            >div{
              width: rem(100px);
              height: rem(100px);
              position: absolute;
              top:30%;
              left:50%;
              -webkit-transform: translate(-50%);
              -moz-transform: translate(-50%); transform:translate(-50%);
              div{
                width: rem(100px);
                height: rem(100px);
                svg{
                  height: rem(100px);
                }
              }
            }
          }
    }

    .dateComponent {
        position: fixed;
        top: rem(182px);
        left: rem(-5px);
        color: $GREY_FONT_COLOR;
        text-align: center;
        div {
            margin: rem(8px);
            font-size: rem(12px);
            width: rem(40px);
            padding: rem(5px);
            border-radius: rem(4px);
            background: $HEADER_COLOR;
        }
    }
}