@import "../variable";

.noticeBox{
  .main{
    background: $WHITE;
    ul{
      li{
        font-size: rem(14px);
        .titleBox{
          display: flex;
          padding: rem(15px) rem(10px);
          justify-content: space-between;
          background: linear-gradient( $WHITE,#f0f0f0);
          .title{
            align-self: center;
          }
          img{
            width: rem(15px);
            height: rem(15px);
            align-self: center;
            &.up{
              transform: rotate(180deg);
            }
          }
        }
        .noticeInfo{
          padding: rem(10px);
          border-bottom: 1px solid $GREY_FONT_COLOR;
          p{
            line-height: rem(20px);
          }
          .time{
            text-align: right;
            color: $GREY_FONT_COLOR;
          }
        }
      }
    }
  }
}
