@import './../variable.scss';
//结束
.activity{
    position: relative;
    .signupFreegift .goSign{
        position: absolute;
        bottom:rem(205px);
        left:rem(112px);
        width: rem(150px);
        height: rem(30px);
        background:transparent;
        border-radius: rem(20px);
        z-index: 1;
    }
    .signupFreegift .goTrade{
        position: absolute;
        bottom:rem(355px);
        left:rem(112px);
        width: rem(150px);
        height: rem(30px);
        background:transparent;
        border-radius: rem(20px);
        z-index: 1;
    }
    .signupFreetoken::after{
        position: absolute;
        display: block;
        content: '';
        bottom:rem(28px);
        left:rem(36px);
        width: rem(310px);
        height: rem(50px);
        background:transparent;
        border-radius: rem(20px);
    }

    img{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding-bottom: rem(100px);
        margin-top: rem(44px);
    }

    .footer{
        height: rem(100px);
        background-color:$DEFAULT_BACKGROUND;
        position: fixed;
        z-index: 99;
        bottom: 0;
        width: 100%;
        &>div{
            font-size: rem(14px);
            margin-left: rem(11px);
            margin-bottom: rem(11px);
            margin-top: rem(11px);
        }
        ul{
            display: flex;
            margin-bottom: rem(12px);
            width: 100%;
            height:100%;
            padding-bottom: rem(12px);
            a{
                flex: 1;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                border:2px solid $BOX_LINE;
                margin: rem(10px);
                margin-bottom: rem(30px);
                border-radius: rem(4px);
                &>div{
                    font-size: rem(16px);
                    color: #9b9b9b;
                    text-align: center;
                    display: block;
                }
            }
        }
    }

    .selected{
        border-color: $ACTIVE_COLOR !important;
        &>div{
            color: $ACTIVE_COLOR!important;
        }
    }
}

.guiderule{
    img{
        display: block;
    }
}