@import "../variable";

.redirectPage{
  width: 100%;
  height: 100%;
  >table{
    width: 100%;
    height: 100%;
    td{
      text-align: center;
      vertical-align: middle;
      >img{
        width: 60%;
        margin-bottom: rem(20px);
      }
      >a{
        display: inline-block;
        width: rem(250px);
        height: rem(44px);
        line-height: rem(44px);
        font-size: rem(18px);
        background-color: $HEADER_COLOR;
        color: $WHITE;
        border-radius: 5px;
      }
    }
  }
}