@import '../variable';

.alertModel{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.3);
  z-index: 100;
  display: table;
  .alertCell{
    display: table-cell;
    vertical-align: middle;
  }
  .alertBody{
    width: 80%;
    margin: 0 auto;
    min-height: rem(162px);
    background: $WHITE;
    border-radius: rem(5px);
    overflow: hidden;
    .alertTitle{
      text-align: center;
      font-size: rem(0px);
    }
    .alertMain{
      display: flex;
      padding: rem(20px);
      font-size: rem(16px);
      text-align: center;
      justify-content: center;
      flex-direction: column;
      flex: 1;
      min-height: rem(126px);
    }
    .alertFoot{
      height: rem(37px);
      line-height: rem(37px);
      display: flex;
      border-top: 1px solid transparent;
      .alertButton{
        flex: 1;
        text-align: center;
        font-size: rem(16px);
        color: #FFFFFF;
        background: $BUTTON_COLOR;
        align-self: center;
        &:active{
          box-shadow: 1px 1px 5px rgba(0,0,0,0.2) inset;
        }
        &.cancel{
          border-left: 1px solid $HEADER_COLOR;
          color: #000000;
          background: #FFFFFF;
        }
      }
    }
  }
  .transfer{
    animation: animate .3s ease-out;
    @keyframes animate {
      0% {
        transform: translateY(100vh);
      }
      50% {
        transform: translateY(50vh);
      }
      100%{
        transform: translateY(0);
      }
    }
  }
  .move-out{
    animation: out .2s ease-in forwards;
    @keyframes out {
      0%{
        transform: translateY(0);
      }
      100%{
        transform: translateY(-100vh);
      }
    }
  }
}