@import "../variable";

.allbalance{
  text-align: center;
  padding: rem(30px) 0;
  width: rem(300px);
  height: rem(150px);
  margin: auto;
  margin-top: rem(15px);
  background: url("../images/tradeBg.png")no-repeat center;
  background-size: 100%;
  color: $WHITE;
  border-radius: rem(10px);
  b{
    margin: rem(10px) 0;
    display: block;
  }
  span{
    font-size: rem(15px);
    display: block;
  }
}