@import "../variable";
/**
底部拦样式
 */
footer{
  position: fixed;
  bottom: 0;
  height: rem(58px);
  width: 100%;
  display: flex;
  flex: 5;
  z-index: 1;
  background: $WHITE;
  border-top: 1px solid $LIGHT_LINE;
  box-shadow: 0 0 5px $LIGHT_LINE;
  a {
    flex: 1;
    text-align: center;
    align-self: center;
    height: inherit;
    line-height: rem(58px);
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 0;
    position: relative;
    .unRead{
      position: absolute;
      left:rem(50px);
      top:rem(3px);
      min-width: rem(15px);
      height: rem(12px);
      line-height: rem(10px);
      padding: rem(1px);
      background: red;
      font-size: rem(12px);
      color:#fff;
      text-align: center;
      border-radius: rem(5px);
      border-bottom-left-radius: 0;
    }
    .text {
      height: rem(15px);
      line-height: rem(15px);
      font-size: rem(12px);
      margin: rem(3px) 0;
      color: #C7C7C7;
    }
    .iconStyle {
      width: rem(28px);
      height: rem(28px);
    }
    .home, .trend, .find, .news, .transfer, .mine{
      fill: #C7C7C7;
      background: transparent;
    }
    .news{
      height: rem(26px);
      width: rem(26px);
    }
  }
  .footActive{
    .home, .news, .find, .trend, .transfer, .mine{
      fill: $FOOT
    }
    span{
      color: $FOOT;
    }
  }
}