@import '../variable';
.header4{
    position: relative;
    display: flex;
    width: 100%;
    padding:0 rem(10px) rem(5px);
    height: rem(64px);
    justify-content: center;
    background: $HEADER_COLOR;
    .backTag{
        position: absolute;
        width: rem(40px);
        padding: rem(10px) 0;
        left: rem(10px);
        align-self: center;
        .arrow,.out{
            fill:$ACTIVE_FONT_COLOR;
            height: rem(17px);
            div{
                display: flex;
                align-items: flex-start;
                height: rem(17px);
                svg{
                    height: rem(17px);
                    fill:wite;
                }
            }
        }
    }

    .title{
        text-align: center;
        font-size: rem(16px);
        line-height: rem(30px);
        align-self: center;
        color:white;
    }
    // .link{
    //     position: absolute;
    //     right: rem(4px);
    //     top: rem(4px);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     font-size: rem(15px);
    //     color:#000000;
    //     padding: rem(8px) rem(10px);
    // }
}