@import "../variable";
@import "404";
@import "footer";
@import "header";
@import "header4";
@import "alert";
@import "loading";
@import "selectStyles";
@import "drawer";
@import "svg";

input{
  border-radius: 0;
  border-color: transparent;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 1080px){
  html,
  body {
    font-size: #{($baseSize * (1080/$baseWidth))}px!important;
  }
}

@include screen(1080);
@include screen(960);
@include screen(750);
@include screen(640);
@include screen(600);
@include screen(540);
@include screen(480);
@include screen(414);
@include screen(400);
@include screen(375);
@include screen(360);
@include screen(320);
@include screen(240);


