$offset: 187;
$duration: 1.4s;

.loading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.2);
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .spinner {
    animation: rotator $duration linear infinite;
    align-self: center;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(270deg); }
  }

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite,
            colors ($duration*4) ease-in-out infinite;
  }

  @keyframes colors {
    0% { stroke: #458dff; }
    25% { stroke: #ff473b; }
    50% { stroke: #ffca23; }
    75% { stroke: #1dc97b; }
    100% { stroke: #448eff; }
  }

  @keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
      stroke-dashoffset: $offset/4;
      transform:rotate(135deg);
    }
    100% {
      stroke-dashoffset: $offset;
      transform:rotate(450deg);
    }
  }
}