@import "../variable";

.selectBankBox{
  position: fixed;
  top: 0;
  left:0;
  height: 100%;;
  z-index: 100;
  width: 100%;
  //background: $WHITE;
  .selectBankHeader{
    background: $HEADER_COLOR;
    padding: rem(5px) rem(10px);
    height: rem(44px);
    color: $BACKGROUND;
    .backTag{
      position: absolute;
      width: rem(40px);
      height: rem(32px);
      left: 0;
      align-self: center;
      display: flex;
      .arrow{
        fill:$BACKGROUND;
        height: rem(16px);
        align-content: center;
        justify-content: center;
      }
      .out{
        display: inline-block;
        height: rem(36px);
        vertical-align: top;
        >div{
          margin-top: rem(-2px);
        }
      }
    }
    .title{
      text-align: center;
      font-size: rem(16px);
      line-height: rem(34px);
      align-self: center;
      height: 100%;
    }
  }
  .selectBankMain{
    ul{
      background: $WHITE;
      overflow: auto;
      height: 100vh;
      li{
        padding:rem(15px) rem(10px);
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        display: flex;
        justify-content: space-between;
        .arrow{
          width: rem(16px);
          height: rem(16px);
        }
      }
    }
  }
}