@import './../variable.scss';

.moneyList{
    height: 100%;
    .main{
        padding-top: rem(45px);
        .category{
            display: flex;
            border-bottom: 1px solid #e1e1e1;
            background-color: white;
            margin-top: rem(10px);
            z-index: 1;
            width: 100%;
            a{
                flex: 1;
                text-align: center;
                font-size: rem(15px);
                height: rem(45px);
                line-height: rem(45px);
                color: $BASIC_FONT_COLOR;
            }

            .selected{
                border-bottom: 2px solid $BUTTON_COLOR;
            }
        }

        .moneyList-all{
            li{
                font-size: rem(13.5px);
                border-color: $BOX_LINE;
                border-bottom-width: 1px;
                border-style: solid;

                a{
                    display: flex;
                    color: $BASIC_COLOR;
                    &>div:first-child{
                        display: inline-block;
                        padding-left: rem(10px);
                        margin-top: rem(10px);
                        div{
                            display: block;
                            margin-bottom: rem(10px);
                        }

                        div:last-child{
                            color: $GREY_FONT_COLOR;
                        }
                    }
                    &>div:last-child{
                        flex: 1;
                        padding-right: rem(10px);
                        display: flex;
                        justify-content: flex-end;
                        div{
                            align-self: center;
                        }
                    }

                    .accountAdd{
                        color: $RAISE
                    }
                    .accountRemove{
                        color: $FALL
                    }

                    svg{
                        fill: $BOX_LINE;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .pullBody{
            //height: 100%;
            //display: flex;
            //flex-direction: column;
            //overflow: hidden;
            //.pull-load{
            //    flex: 1;
            //    display: flex;
            //    flex-direction: column;
            //    overflow: hidden;
            //    .pull-load-body{
            //        height: 100%;
            //        overflow: hidden;
            //        .ul{
            //            overflow-y: auto;
            //        }
            //    }
            //}
            //ul{
            //    overflow-y: auto;
            //}
        }

        .imgWrap{
            .placeholder {
                display: block;
                margin: auto;
                margin-top: rem(15px);
                width: rem(150px);
                height: rem(130px);
                align-self: center;
            }
            p{
                font-size: rem(18px);
                text-align: center;
                margin-top: rem(15px);
            }
        }
    }
}