@import '../variable.scss';

.moneyListDetail{
    .raise{
        color: $RAISE;
    }
    .fall{
        color: $FALL;
    }
    .moneyListDetail-content{
        padding-top: rem(45px);

        &>div:first-child{
            text-align: center;
            border-style: solid;
            border-bottom-width: 1px;
            border-color: $BOX_LINE;

            &>div:first-child{
                font-size: rem(15px);
                padding: rem(10px) 0
            }
            &>div:last-child{
                font-size: rem(30px);
                //color: $GREY_FONT_COLOR;
                margin-bottom: rem(10px);
            }
        }

        &>div:nth-child(2),&>div:nth-child(3){
            display: flex;
            justify-content: space-between;
            padding: rem(10px);
            div{
                font-size: rem(13.5px);
            }
        }

        &>div:nth-child(2){
            border-color: $BOX_LINE;
            border-style: solid;
            border-bottom-width: 1px;
        }

        &>div:last-child{
            font-size: rem(12px);
            color: $GREY_FONT_COLOR;
            padding: rem(10px);
        }
    }
    
}