@import "../variable";
.cs{
  position: relative;
  //display: flex;
  height: 100%;
  background:$BACKGROUND;
  .header {
    .title{
      color:#fff;
    }
    .backTag{
      .out{
        div{
          svg{
            fill:#fff;
          }
        }
      }
    }
  }
  .cs-content{
    // padding-top: rem(50px);
    background-size: 100% 100%;
    height: 100%;
    padding-bottom: rem(50px);
    overflow-y: auto;
    p.time{
      text-align: center;
      font-size: rem(11px);
      color:#979797;
    }
  }
  .cs-input{
    height: rem(58px);
    width: 100%;
    bottom: 0;
    display: flex;
    position: fixed;
    //background-color:#2C3758;
    outline: none;
    padding: rem(10px)rem(10px);
    background:#FBFBFB;
    input{
      font-size: rem(15px);
      flex: .98;
      padding: rem(5px) rem(10px);
      margin-right: rem(15px);
      border: 1px solid #EAE9EC;
      border-radius: rem(100px);
      outline: none;
      background:$DEFAULT_BACKGROUND;
      color: #000;
    }
    div:last-child{
      display: inline;
      vertical-align: middle;
      align-self: center;
      font-size: rem(14px);
      //color:$DARK_BACKGROUND;
    }
  }

  //客服对话样式
  .cs-cs{
    flex-direction: row;
    padding: rem(15px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    color:$DEEP_GREY_FONT_COLOR;
    a{
      //color:$DARK_BACKGROUND;
    }
    label{
      font-size: rem(16px);
      word-break:break-all;
      word-wrap:break-word;
      display: block;
      overflow: hidden;
    }
    .head{
      width: rem(45px);
      height: rem(45px);
      background: transparent url('../images/s.png') no-repeat;
      background-size: cover;
      border-radius:rem(10px);
    }
    //content
    &>div:first-child{
      border-Left-Width: 2;
      border-Right-Width: rem(10px);
      border-Top-Width: rem(7px);
      border-Bottom-Width: rem(7px);
      border-Left-Color: transparent;
      border-Right-Color: $DEFAULT_BACKGROUND;
      border-Top-Color: transparent;
      border-Bottom-Color: transparent;
      align-Self: center;
      margin-Left:rem(3px);
    }
    &>div:last-child{
      font-size: rem(16px);
      max-Width: rem(215px);
      position: relative;
      padding: rem(10px);
      //box-shadow: 0 2px 6px #6a6d71;
      background: $DEFAULT_BACKGROUND;
      box-shadow: 0 1px 3px 0 #EFE5E5;
      line-height: rem(22px);
      margin-left: rem(10px);
      border-radius: rem(5px);
      border-top-left-radius: 0;
      &>label{
        font-size: rem(16px);
        word-break:break-all;
        word-wrap:break-word;
        display: block;
        overflow: hidden;
      }
      .time{
        font-size: rem(12px);
        color:$BASIC_FONT_COLOR;
        text-align: right;
      }
    }
  }

  //用户对话样式
  .cs-user{
    display: flex;
    .head{
      width: rem(45px);
      height: rem(45px);
      background: transparent url('../images/user.png') no-repeat;
      background-size: cover;
      border-radius: rem(10px);
      padding: 0;
      flex:none;
    }
    &>div{
      flex-direction: row;
      padding: rem(15px);
      justify-Content: flex-end;
      flex:1;
      position: relative;
      display: flex;
      &>div:last-child{
        border-Left-Width: 10px;
        border-Right-Width: 2px;
        border-Top-Width: 7px;
        border-Bottom-Width: 7px;
        border-Left-Color: $DEFAULT_BACKGROUND;
        border-Right-Color: transparent;
        border-Top-Color: transparent;
        border-Bottom-Color:transparent;
        margin-Left: 3px;
        align-self:flex-start;
      }
      &>div:first-child{
        font-size: rem(16px);
        max-Width: rem(215px);
        padding: rem(10px);
        line-height: rem(22px);
        margin-right: rem(10px);
        color:$DEEP_GREY_FONT_COLOR;
        border-radius: rem(8px);
        border-top-right-radius:0;
        background:$WHITE;
        box-shadow: 0 1px 3px 0 #EFE5E5;
        label{
          font-size: rem(16px);
          word-break:break-all;
          word-wrap:break-word;
          display: block;
          overflow: hidden;
        }
        .time{
          font-size: rem(12px);
          color:$BASIC_FONT_COLOR;
          text-align: right;
        }
      }
    }
    img{
      width: rem(40px);
      height: rem(40px);
    }
  }
}

.guide{
  position: relative;
  font-size: 0;
  img{
    width: 100%;
    padding-top: rem(44px);
  }
  a{
    display: inline-block;
    width: rem(200px);
    height: rem(50px);
    line-height: rem(50px);
    text-align: center;
    font-size: rem(24px);
    color: $DEFAULT_BACKGROUND;
    border-radius: rem(10px);
    position: absolute;
    bottom: rem(60px);
    left: rem(80px);
    z-index: 1;
    //background:$DARK_BACKGROUND;
  }
}
