@import "../variable";

.activityRegister{
  width: 80%;
  font-size: 0;
  margin: 0 auto;
  position: relative;
  img{
    width: 100%;
  }
  .btn{
    position: absolute;
    bottom: rem(30px);
    left: 50%;
    width: 40%;
    height: rem(30px);
    margin-left: -20%;
  }
}