@import "activityRegister";

.popWrap{
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  >.popBody{
    display: table-cell;
    vertical-align: middle;
  }
}