@import "../variable";

.home {
  background: $BACKGROUND;
  .mainTop {
    background: $WHITE;
    padding: rem(20px) rem(10px) rem(10px);
    margin-bottom: rem(10px);
    nav {
      display: flex;
      a {
        flex: 1;
        text-align: center;
        font-size: rem(14px);
        color: #3E3E3E;
      }
    }
    .noticeBox {
      display: flex;
      background: #F1F3FF;
      border-radius: rem(5px);
      overflow: hidden;
      margin: rem(20px) 0;
      padding: 0 rem(10px);
      > div {
        align-self: center;
        svg {
          width: rem(20px);
          height: rem(20px);
          fill: #80A1FF;
        }
      }
      a {
        display: inline-block;
        width: rem(280px);
        vertical-align: middle;
        align-self: center;
        height: rem(25px);
        line-height: rem(25px);
        .noticesBox {
          width: 100%;
          p {
            font-size: rem(13px);
            padding-left: rem(10px);
            color: #939393;
            vertical-align: middle;
            overflow: hidden;
            word-wrap: unset;
            width: 100%;
          }
        }
      }
    }
    .hotBox {
      .hotTitle {
        font-size: rem(16px);
        padding-bottom: rem(10px);
        text-align: center;
        font-weight: bold;
        > div {
          text-align: center;
          color:$BUTTON_COLOR;
          a {
            margin: 0 rem(5px);
            svg {
              width: rem(20px);
              height: rem(20px);
              fill: #FC622D;
            }
            &:nth-child(2) {
              svg {
                fill: #4798FD;
              }
            }
          }
        }
      }
      .hotMain {
        display: flex;
        .hotGoods {
          flex: 1;
          background: url("../images/hot1.png") no-repeat center;
          background-size: 108%;
          height: rem(85px);
          width: rem(115px);
          > div {
            font-size: rem(14px);
            color: $WHITE;
            text-align: center;
          }
          .top {
            margin-top: rem(15px);
          }
          .middle {
            font-size: rem(22px);
            margin: rem(5px) 0;
          }
          .percent {
            font-size: rem(12px);
          }
        }
        > a:nth-child(2) {
          background: url("../images/hot2.png") no-repeat center;
          background-size: 108%;
        }
        > a:nth-child(3) {
          background: url("../images/hot3.png") no-repeat center;
          background-size: 108%;
        }
      }
    }
  }

  .mainBottom {
    padding: rem(10px) rem(10px);
    background: $WHITE;
    .navTitle {
      display: flex;
      justify-content: space-between;
      background-color: $LIGHT_LINE;
      border-bottom: 1px solid $LIGHT_LINE;
      > div {
        padding: rem(10px);
        font-size: rem(14px);
        color: $GREY_FONT_COLOR;
        margin: 0 rem(10px);
      }
      .active {
        color: $BASIC_FONT_COLOR;
        border-bottom: 2px solid $PINK;
      }
    }
    .mainGoods {
      a{
        width: 100%;
      }
      .box{
        // width: 100%;
        background: $WHITE;
        // border: 1px solid $BOX_LINE;
        margin: rem(8px);
        padding: rem(8px) 0;
        display: flex;
        box-shadow: 0 0 14px #d6d6d6;
        >div{
          // flex: 1;
          font-size: rem(16px);
          text-align: center;
          align-self: center;
          color: $BASIC_FONT_COLOR;
          
        }
        // .price{
        //   margin-bottom: rem(6px);
        // }
        .point{
          position: absolute;
          top: 0;
        }
        .code{
          width: 20%;
          svg{
            width: rem(36px);
            height: rem(36px);
          }
          // >div{
          //   margin: auto;
          //   height: rem(36px);
          //   width: rem(36px);
          //   border-radius: rem(20px);
          //   background: linear-gradient(to right,#ff9a80,#F66494);
          //   color: $WHITE;
          //   font-size: rem(14px);
          //   line-height: rem(36px);
          // }
          // div:nth-child(n){
          //   background: linear-gradient(to right,rgb(255, 201, 39),#FEC210);
          // }
        }
        .name{
          width: 21%;
          p{
            font-size: rem(12px);
            color: $GREY_FONT_COLOR;
            margin-top: 5px ;
          }
        }
        .number{
          width: 26%;

        }
        .codeimg{
          width: 33%;
          position: relative;
          img{
            width: 100%;
            height: 100%;
            // margin-top: rem(5px);
          }
          .change{
            position: absolute;
            top: rem(46px);
            .rest{
              color: $DEEP_GREY_FONT_COLOR;
            }
          }
        }
      }

      ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li {
          width: 47%;
          border: 1px solid $BOX_LINE;
          padding: rem(10px) rem(5px);
          margin:  rem(5px);
          box-shadow: 0 5px 10px $DEFAULT_BACKGROUND;
          .code {
            background: linear-gradient(to bottom, #FFE387, #FFAF0E);
          }
        }
        li:nth-child(2n) {
          .code {
            background: linear-gradient(to bottom, #6F78FE, #183FFF);
          }
        }
        li:nth-child(3n) {
          .code {
            background: linear-gradient(to bottom, #FF9047, #FF0005);
          }
        }
        li:nth-child(4n) {
          .code {
            background: linear-gradient(to bottom, #EDC757, #D6962B);
          }
        }
      }
    }
  }
  
  .declare{
    padding: rem(20px) rem(10px) rem(90px) rem(10px);
    color: $DEEP_GREY_FONT_COLOR;
    p:first-child{
      text-indent:0;
      font-size: rem(14px);
      line-height: 150%;
    }
    p{
      font-size: rem(13px);
      line-height: rem(20px);
      text-align: center;
    }
  }
}

