@import "../variable";

.cs{
  position: relative;
  //display: flex;
  height: 100%;
  background: $BACKGROUND;
  .cs-content{
    // padding-top: rem(44px);
    background-size: 100% 100%;
    height: 100%;
    padding-bottom: rem(44px);
    overflow-y: auto;
  }
  .cs-input{
    height: rem(44px);
    width: 100%;
    bottom: 0;
    display: flex;
    position: fixed;
    background:$WHITE;
    outline: none;
    padding: rem(5px)rem(20px);
    input{
      font-size: rem(15px);
      flex: .98;
      padding: rem(5px) rem(10px);
      margin-right: rem(15px);
      border: 1px solid $BOX_LINE;
      border-radius: rem(5px);
      outline: none;
      background: $WHITE;
      color: $FONT_COLOR;
    }
    div:last-child{
      display: inline;
      vertical-align: middle;
      align-self: center;
      font-size: rem(16px);
      color: $FONT_COLOR;
    }
  }

  //客服对话样式
  .cs-cs{
    flex-direction: row;
    padding: rem(15px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    img{
      width: rem(35px);
      height: rem(35px);
    }
    &>div:first-child{
      border-Left-Width: 2;
      border-Right-Width: rem(10px);
      border-Top-Width: rem(7px);
      border-Bottom-Width: rem(7px);
      border-Left-Color: transparent;
      border-Right-Color: $WHITE;
      border-Top-Color: transparent;
      border-Bottom-Color: transparent;
      align-Self: center;
      margin-Left:rem(3px);
    }
    &>div:last-child{
      font-size: rem(16px);
      max-Width: rem(215px);
      position: relative;
      padding: rem(10px);
      //box-shadow: 0 2px 6px #6a6d71;
      background: $WHITE;
      line-height: rem(22px);
      margin-left: rem(10px);
      border-radius: rem(5px);
      &>label{
        font-size: rem(16px);
      }
    }
  }

  //用户对话样式
  .cs-user{
    display: flex;
    &>div{
      flex-direction: row;
      padding: rem(15px);
      justify-Content: flex-end;
      flex:1;
      position: relative;
      display: flex;
      &>div:last-child{
        border-Left-Width: 10px;
        border-Right-Width: 2px;
        border-Top-Width: 7px;
        border-Bottom-Width: 7px;
        border-Left-Color: $WHITE;
        border-Right-Color: transparent;
        border-Top-Color: transparent;
        border-Bottom-Color:transparent;
        align-Self: center;
        margin-Left: 3px;
      }
      &>div:first-child{
        font-size: rem(16px);
        max-Width: rem(215px);
        padding: rem(10px);
        line-height: rem(22px);
        margin-right: rem(10px);
        background:$WHITE ;
        color: #3E4F81;
        border-radius: rem(5px);
        &>label{
          font-size: rem(16px);
        }
      }
    }
    img{
      width: rem(40px);
      height: rem(40px);
    }
  }
}

.guide{
  position: relative;
  font-size: 0;
  img{
    width: 100%;
    padding-top: rem(44px);
  }
  a{
    display: inline-block;
    width: rem(200px);
    height: rem(50px);
    line-height: rem(50px);
    text-align: center;
    font-size: rem(24px);
    color: $WHITE;
    border-radius: rem(10px);
    position: absolute;
    bottom: rem(60px);
    left: rem(80px);
    z-index: 1;
    background: #3E4F81;
  }
}