@import "../variable";

.rulePage{
  @include nav-page;
  background: $DEFAULT_BACKGROUND;
  .grid{
    padding-top: rem(44px);
    height: 100%;
    overflow: auto;
    background: #fff;
    table{
      width: 100%;
      tr{
        &:nth-child(odd){
          td{
            &:first-child{
              background: #f1f5fc;
            }
          }
        }
        td{
          &:first-child{
            width: 33.33%;
            padding: rem(10px) 0;
            border-right: 1px solid #e1e1e1;
            text-align: center;
          }
          &:last-child{
            padding: rem(10px);
            text-align: left;
            line-height: 1.2;
          }
          >p{
            margin-bottom: rem(4px);
          }
          font-size: rem(14px);
          vertical-align: middle;
          border-bottom: 1px solid #e1e1e1;
        }
      }
    }
    .tips{
      overflow: hidden;
      font-size: rem(14px);
      padding: rem(10px);
      line-height: 1.2;
    }
    .jump{
      float: right;
      >a{
        color: $HEADER_COLOR;
      }
    }
  }
}