@import "../variable";

.position {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100%;
  flex-direction: column;
  .header {
    background: transparent;
  }
  .statistics {
    padding: rem(44px) rem(15px) 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(2px);
    box-shadow: 0px 5px 10px #eeeeee;
    background: url("../images/tradeBg.png") no-repeat center;
    background-size: 100%;
    > div {
      padding: rem(8px);
      color: $WHITE;
      .des {
        font-size: rem(16px);
        align-self: center;
        margin-bottom: rem(2px);
      }
      .money {
        font-size: rem(32px);
      }
      .raise {
        color: $RAISE;
      }
      .fall {
        color: $FALL;
      }
    }
    .btn {
      font-size: rem(13px);
      align-self: center;
      width: rem(80px);
      height: rem(25px);
      line-height: rem(10px);
      text-align: center;
      background: #2289F9;
      color: $WHITE;
      border-radius: rem(20px);
    }
    span {
      font-size: rem(14px);
    }
  }
  .nav{
    font-size: rem(16px);
    display: flex;
    background: $BACKGROUND;
    div{
      flex: 1;
      text-align: center;
      padding: rem(10px) 0;
    }
    .active{
      border-bottom: 1px solid #2289F9;
      color: #2289F9;
    }
  }
  .warp {
    display: flex;
    //padding-bottom: rem(54px);
    flex: 1;
    flex-direction: column;
    > div {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .imgWrap {
      position: absolute;
      width: 100%;
      //display: flex;
      top: rem(180px);
      text-align: center;
      img{
        width: rem(120px);
        margin: auto;
      }
      p {
        font-size: rem(16px);
        margin-top: rem(10px);
        color: #C7C7C7;
      }
    }
  }
  h4 {
    font-size: rem(18px);
    padding: rem(10px);
  }
  .flat {
    flex: 1;
    overflow: auto;
    padding: rem(5px) rem(10px) 0;
    li {
      border-radius: rem(8px);
      overflow: hidden;
      padding: rem(10px) 0;
      margin-top: rem(15px);
      border: 1px solid $LIGHT_LINE;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 0 15px $LIGHT_LINE;
      .right {
        font-size: rem(12px);
        display: block;
        flex: .7;
        padding:0 rem(7px);
        align-self: center;
        .title {
          font-size: rem(14px);
          display: flex;
          padding-bottom: rem(10px);
          color: #333;
          >div{
            &:first-child{
              width: rem(140px);
              align-self: center;
            }
          }
          .iconBox{
            display: flex;
            justify-content: flex-start;
            .circle{
              color: $WHITE;
              width: rem(20px);
              height: rem(20px);
              line-height: rem(20px);
              text-align: center;
              border-radius: 50%;
            }
            .deep{
              background: #0d265e;
            }
            .handNum{
              height: rem(20px);
              line-height: rem(20px);
            }
          }
        }
        .idTitle{
          display: flex;
          justify-content: flex-start;
          margin-bottom: rem(5px);
          color: $GREY_FONT_COLOR;
          div{
            &:first-child{
              margin-right: rem(8px);
            }
          }
        }
        .infoBox {
          display: flex;
          color: $GREY_FONT_COLOR;
          .info {
            flex: .7;
            > div {
              display: flex;
              padding: rem(5px) 0;
              > div {
                width: rem(80px);
              }
              .lastInfo{
                text-align: center;
              }
            }
          }
          .money {
            flex:.3;
            font-size: rem(20px);
            align-self: center;
            text-align: center;
          }
        }
      }
      .left {
        flex: .3;
        align-self: center;
        font-size: rem(12px);
        border-left: 1px solid $GREY_FONT_COLOR;
        >div{
          padding: rem(5px) 0;
          width: rem(85px);
          border:1px solid $GREY_FONT_COLOR;
          text-align: center;
          margin:rem(10px) auto ;
          background:#085AAD;
          border-radius: rem(3px);
        }
        .first{
          color: $WHITE;
        }
        .last{
          border: 1px solid #2289F9;
          background: $WHITE;
          //color: #2289F9;
        }
      }

      .settlementBox {
        > div {
          padding: rem(5px);
          font-size: rem(16px);
          display: flex;
          justify-content: space-between;
          .left {
            > div {
              margin-bottom: rem(3px);
            }
            .time {
              color: $GREY_FONT_COLOR;
            }
          }
          .right {
            justify-content: center;
            align-self: center;
            font-size: rem(20px);
          }
        }
        .last {
          color: $WHITE;
          font-size: rem(14px);
          > div {
            align-self: center;
          }
          svg {
            width: rem(22px);
            height: rem(22px);
            fill: $WHITE;
          }
        }
        .redBg {
          background: $RAISE;
        }
        .greenBg {
          background: $FALL;
        }
      }
    }
    .raiseLine {
      border-color: $RAISE;
    }
    .fallLine {
      border-color: $FALL;
    }
    .setting {
      display: flex;
      > div {
        justify-content: center;
        align-self: center;
      }
      .goodsID {
        flex: .7;
      }
    }
  }
  .stopSPSL {
    @include nav-page;
    background-color: #fff;
    z-index: 100;
    .information {
      background: url("../images/tradeBg.png")no-repeat center;
      background-size: 100%;
      width: 100%;
      table-layout: fixed;
      font-size: rem(15px);
      padding-top:rem(44px);
      border-bottom: 1px solid $BOX_LINE;
      >div{
        display: flex;
        padding: rem(10px) rem(15px);
        color: $WHITE;
      }
      .name{
        justify-content: space-between;
        font-size: rem(22px);
      }
      .info{
        font-size: rem(14px);
        >div{
          width: rem(80px);
        }
      }
    }
    .body {
      padding:rem(15px);
      .board {
        .range-controller {
          display: flex;
          margin: rem(30px) 0;
          .plusWrap {
            margin-left: rem(16px);
            display: flex;
            justify-content: center;
          }
          .reduceWrap {
            margin-right: rem(16px);
            display: flex;
            justify-content: center;

          }
          .plus {
            width: rem(28px);
            height: rem(28px);
            fill: $FALL;

          }
          .reduce {
            width: rem(24px);
            height: rem(24px);
            fill: $HEADER_COLOR;
            align-self: center;
          }
        }
        .input-range {
          flex: 1;
          height: 8px;
          align-self: center;
          background: $GRAY_BACKGROUND;
          -webkit-appearance: none;
          &:focus {
            outline: none;
          }
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            cursor: pointer;
            animation: 0.2s;
            background: $GRAY_BACKGROUND;
            border-radius: 2px;
            border: 1px solid $GRAY_BACKGROUND;
          }
          &::-webkit-slider-thumb {
            height: rem(20px);
            width: rem(20px);
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: rem(-8px);
            border: none;
            border-radius: 50%;
          }
          &.raise::-webkit-slider-thumb {
            background: $RAISE;
          }
          &.fall::-webkit-slider-thumb {
            background: $FALL;
          }
        }
        .between {
          margin-top: rem(14px);
          display: flex;
          justify-content: flex-start;
          span {
            font-size: rem(16px);
            display: inline-block;
            width: rem(80px);
          }
        }
        .submit {
          font-size: rem(16px);
          text-align: center;
          height: rem(36px);
          line-height: rem(36px);
          background: #085AAD;
          color: $WHITE;
          border-radius: 3px;
          margin-top: rem(40px);
          margin-bottom: rem(20px);
        }
      }
      p {
        font-size: rem(13px);
        margin-bottom: rem(12px);
        color: $GREY_FONT_COLOR;
        a {
          color: $HEADER_COLOR;
        }
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: rem(10px);
    display: flex;
    justify-content: center;
    align-self: center;
    background: $BACKGROUND;
    width: 100%;
    > a {
      justify-content: center;
      align-self: center;
      font-size: rem(16px);
      padding: rem(7px);
      text-align: center;
      margin: 0 rem(10px);
      width: rem(110px);
    }
    .unSelect {
      color: $HEADER_COLOR;
      border-radius: rem(5px);
      border: 1px solid $HEADER_COLOR;
    }
    .bgRed {
      background: $RAISE;
      border-radius: rem(4px);
      padding: rem(6px);
      text-align: center;
      justify-content: center;
      align-self: center;
      color: #FFFFFF;
    }
  }
}

.settlement {
  .warp {
    padding: 0;
    padding-top: rem(50px);
    .flat {
      li {
        margin: 0;
        margin-bottom: rem(15px);
      }
    }
  }
}