@import "../variable";

.listInfo{
  min-height: 100%;
  .main{
    padding-top: rem(44px);
    .title{
      background: $WHITE;
      padding: rem(15px) rem(15px) 0;
      font-size: rem(16px);
      display: flex;
      justify-content: space-between;
      >div{
        align-self: center;
      }
      .money{
        font-size: rem(26px);
        margin-top: rem(5px);
        span{
          font-size: rem(14px);
        }
      }
    }
    .info{
      margin-top: rem(15px);
      h4{
        font-size: rem(16px);
        padding: rem(10px) rem(5px);
        border-bottom: 1px solid $BOX_LINE;
        color: $HEADER_COLOR;
        background: $WHITE;
        margin: 0 rem(10px);
      }
      >div{
        background: #EEEEEE;
        display: flex;
        justify-content: flex-start;
        font-size: rem(14px);
        padding: rem(12px) rem(8px);
        margin: 0 rem(10px);
        p{
          width: rem(130px);
          color: $GREY_FONT_COLOR;
        }
        &:nth-child(odd){
          background: #F5F5F5;
        }
      }
    }
  }
  .red{
    color: $RAISE;
  }
  .green{
    color: $FALL;
  }
}