@import '../variable';

.register {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $WHITE;
  background: url("../images/loginBg.png") no-repeat left top;
  background-size: contain;
  div {
    font-size: 0;
  }
  .header{
    background: transparent;
    .backTag{
      svg{
        fill:$WHITE;
      }
    }
  }
  .main {
    padding: rem(80px) rem(25px);
    padding-top: rem(220px);
    .infoBox {
      h4{
        font-size: rem(26px);
        margin-bottom: rem(60px);
        color:$WHITE;
        //font-weight: bold;
      }
      p{
        font-size: rem(12px);
        color: $GREY_FONT_COLOR;
      }
      .title{
        font-size: rem(16px);
        margin-top: rem(30px);
        color: $GREY_FONT_COLOR;
      }
      >div{
        margin-bottom: rem(20px);
        .inputBox{
          background:$WHITE;
          border-bottom: 1px solid $LIGHT_LINE;
          display: flex;
          justify-content: flex-start;
          width: 100%;

          input {
            width: rem(240px);
            background: transparent;
            outline: none;
            font-size: rem(16px);
            border: none;
            padding: rem(14px) rem(20px);
            // color: $BACKGROUND;
          }
          .getCode {
            font-size: rem(14px);
            width: rem(90px);
            align-self: center;
            text-align: center;
            float: right;
            color: $BUTTON_COLOR;
            vertical-align: bottom;
            margin-top: rem(4px);
            border: 1px solid $BUTTON_COLOR;
            padding: rem(3px);
            border-radius: rem(4px);
          }
        }
      }
      .buttonBox{
        font-size: rem(16px);
        color: $WHITE;
        text-align: center;
        margin-bottom: rem(15px);
        >div{
          background: $BUTTON_COLOR;
          -webkit-background-size: 100%;
          background-size: 100% ;
          font-size: rem(20px);
          padding:rem(15px) rem(15px);
          border-radius: rem(5px);
          margin: auto;
          margin-top: rem(60px);
        }
      }
    }
    
    // .none{
    //   width: 100%;
    //   position: absolute;
    //   bottom: rem(10px);
    //   left:0;
    //   height: rem(60px);
    //   display: flex;
    //   justify-content: center;
    //   a{
    //     text-align: center;
    //     width: rem(120px);
    //     color: $BUTTON_COLOR;
    //     align-self: center;
    //     font-size: rem(16px);
    //     display: inline-block;
    //     margin: 0 rem(15px);
    //   }
    // }
  }
}
