@import "../variable";

.bindAliPay{
  text-align: center;
  display: flex;
  .bindAliPay-content{
    padding-top: rem(54px);
    flex: 1;
    div:first-child{
      width: rem(200px);
      height: rem(200px);
      border: 1px solid $BOX_LINE;
      font-size: rem(15px);
      margin: 0 auto;
      align-self: center;
      line-height: rem(200px);
      position: relative;
      input{
        opacity: 0;
        width: rem(200px);
        height: rem(200px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &>h6{
      font-size: rem(14px);
      margin-top: rem(10px);
      margin-bottom: rem(10px);
    }

    &>form{
      border-bottom: 1px $BOX_LINE solid;
      width: 90%;
      margin: 0 auto;
      text-align: left;
      display: flex;
      padding: rem(10px) 0;
      label{
        font-size: rem(15px);
        margin-left: rem(10px);
        align-self: center;
      }
      input{
        font-size: rem(15px);
        margin-left: rem(10px);
        flex: 1;
      }
    }

    &>div:last-child{
      background-color: $ACTIVE_COLOR;
      color: $BACKGROUND;
      border-radius: rem(4px);
      width: 90%;
      margin: 0 auto;
      margin-top: rem(10px);
      font-size: rem(16px);
      padding: rem(10px);
    }
  }
}
