@import "../variable";

.history{

  ul{
    padding-top: rem(45px);
    li{
      font-size: rem(15px);
      border-bottom: 1px $BOX_LINE solid;
      div{
        justify-content: space-between;
        display: flex;
        padding: rem(5px);
        div{
          display: inline;
        }
      }

      &>div:last-child{
        color: $GREY_FONT_COLOR;
      }
    }
  }
  .placeholder{
    text-align: center;
    font-size: rem(15px);
    height: rem(50px);
    line-height: rem(50px);
  }
}