@import "../variable";

.withdraw {
  text-align: center;
  & > ul:nth-child(2) {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    background-color: $WHITE;
    padding-top: rem(44px);
    a {
      flex: 1;
      text-align: center;
      font-size: rem(15px);
      height: rem(45px);
      line-height: rem(45px);
      color: $BASIC_FONT_COLOR;
    }

    .selected {
      border-bottom: 2px solid $HEADER_COLOR;
    }
  }

  .withdraw-card {
    //card的输入区域
    & > div {
      & > form {
        & > ul {
          margin-top: rem(18px);
          margin-bottom: rem(18px);
          li {
            position: relative;
            display: flex;
            border-bottom: 1px solid $BOX_LINE;
            padding: rem(12px) rem(6px);
            label {
              font-size: rem(15px);
              min-width: rem(86px);
              align-self: center;
              text-align: left;
            }
            input {
              width: 100%;
              flex: 1;
              font-size: rem(15px);
              outline: none;
              border: 0;
            }
            .recover-pw-withdraw-box{
              position: absolute;
              align-self: center;
              bottom: rem(10px);
              right: rem(10px);
              border-radius: rem(20px);
              font-size: 12px;
              padding:rem(0px) rem(6px);
              border:1px solid $HEADER_COLOR;
              height: rem(20px);
              line-height: rem(20px);
              width: rem(70px);
            }
            .recover-pw{
              text-align: left;
              float: left;
              font-size: rem(12px);
              color:$HEADER_COLOR;
            }
          }
        }
      }
    }

    //card的提示区域
    & > div:first-child {
      width: 92%;
      margin: 0 auto;
    }
    & > ul {
      color: $GREY_FONT_COLOR;
      width: 90%;
      margin: rem(10px) auto;
      text-align: left;
      li {
        margin-bottom: rem(10px);
      }

      p {
        font-size: rem(13.5px);
        margin-bottom: rem(10px);
      }
      li {
        font-size: rem(12px);
      }
    }
  }

  //alipay
  .withdraw-alipay {
    .qrWrapper {
      margin-top: rem(10px);
    }

    &>form{
      width: 90%;
      margin: 0 auto;
      ul{
        margin-bottom: rem(10px);
        li{
          display: flex;
          font-size: rem(15px);
          padding: rem(10px) 0;
          border-bottom: $BOX_LINE 1px solid;
          label{
            align-self: center;
            padding-right: rem(10px);
          }
          input{
            flex: 1;
          }
        }
      }
    }

    & > ul {
      color: $GREY_FONT_COLOR;
      width: 90%;
      margin: rem(10px) auto;
      text-align: left;
      li {
        margin-bottom: rem(10px);
      }

      p {
        font-size: rem(13.5px);
        margin-bottom: rem(10px);
      }
      li {
        font-size: rem(12px);
      }
    }
  }

  .submitButton {
    border-radius: rem(4px);
    background-color: $HEADER_COLOR;
    color: $BACKGROUND;
    width: 100%;
    text-align: center;
    font-size: rem(16px);
    padding: rem(10px) 0;
  }

  .showSelection{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 99;
    display: flex;
    &>div{
      background-color: white;

    }

    &>ul{
      align-self: center;
      flex: 1;
      li{
        font-size: rem(13.5px);
        background-color: #fff;
        border-bottom: 1px solid $BOX_LINE;
        padding: rem(10px) 0;
      }
    }
  }

  .withdraw-bindalipay{
    display: flex;
    justify-content: center;
    font-size: rem(16px);
    padding-top: rem(50px);
  }

  .hideSelection{
    display: none;
  }

  .switch-wrapper {
    position: relative;
  }

  .switch-wrapper > div {
    position: absolute;
  }
}

