@import "../variable";

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  background: $WHITE;
  -webkit-background-size: 100%;
  background-size: 100%;
  min-height: 100%;
  background: url("../images/loginBg.png") no-repeat left top;
  background-size: contain;
  .header {
    background: transparent;
    height: rem(44px);
    justify-content: left;
    line-height: rem(36px);
    .backTag{
      svg {
        fill: $WHITE;
        width: rem(16px);
      }
    }
  }
  .main {
    background: transparent;
    padding: rem(80px) rem(25px);
    padding-top: rem(220px);
    z-index: 1;
    text-align: center;
    h4{
      font-size: rem(26px);
      text-align: left;
      //font-weight: bolder;
      margin-bottom: rem(60px);
      color:$WHITE;
    }
    .loginInfo {
      background:$WHITE;
      display: flex;
      overflow: hidden;
      margin-bottom: rem(15px);
      width: 100%;
      border-bottom: 1px solid $LIGHT_LINE;
      padding: rem(2px) 0;
      .name{
        font-size: rem(14px);
        width: rem(60px);
        align-self: center;
        color: $GREY_FONT_COLOR;
      }
      .passwordBox{
        display: flex;
        input {
          width: rem(280px);
          height: 100%;
          background: transparent;
          outline: none;
          font-size: rem(16px);
          border: none;
          padding: rem(12px) rem(20px);
          color: #000000;
        }
        >div{
          display: flex;
          margin: rem(5px);
          svg{
            width: rem(20px);
            height: rem(20px);
            justify-content: center;
            align-self: center;
            fill:$BUTTON_COLOR;
          }
        }
      }
    }
    .buttonBox {
      font-size: rem(14px);
      color: $WHITE;
      text-align: center;
      margin-bottom: rem(15px);
      >div{
        background: $BUTTON_COLOR;
        -webkit-background-size: 100%;
        border-radius: rem(5px);
        background-size: 100% ;
        font-size: rem(18px);
        padding:rem(15px) rem(15px);
        margin: auto;
        margin-top: rem(10px);
      }
    }
    .registerButton{
      position: absolute;
      bottom: rem(10px);
      left: rem(160px);
      height: rem(30px);
      width: rem(100px);
      display: flex;
      color: $BUTTON_COLOR;
      align-self: center;
      font-size: rem(16px);
    }
    .toregister{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(15px);
      color: $BASIC_FONT_COLOR;
      padding: rem(20px) 0;
      >a{
        padding: rem(4px) rem(20px);
        color: $BUTTON_COLOR;
      }
      .button{
        // padding-right: rem(20px);
        // margin-right: rem(20px);
        border-right: 1px solid $BUTTON_COLOR;
      }
    }
  }
  // .none{
  //   width: 100%;
  //   height: rem(60px);
  //   position: absolute;
  //   left: 0;
  //   bottom: rem(10px);
  //   display: flex;
  //   justify-content: center;
  //   a{
  //     width: rem(120px);
  //     color: $BUTTON_COLOR;
  //     align-self: center;
  //     font-size: rem(16px);
  //     display: inline-block;
  //     margin: 0 rem(15px);
  //   }
  // }
}