@import '../variable';

.addBank{
  height: 100%;;
  background-color: $BACKGROUND;
  .main{
    padding-top: rem(44px);
    h4{
      margin: rem(10px) 0;
      padding: rem(15px);
      background: #f4f4f4;
      color: #FF0000;
      font-size: rem(14px);
      text-align: center;
      font-weight: bold;
    }
    ul{
      li{
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        overflow: hidden;
        background: $WHITE;
        padding: rem(10px) rem(15px);
        span{
          width: 30%;
          display: block;
          font-size: rem(12px);
          color: $BUTTON_COLOR;
          padding: rem(5px) 0;
        }
        div, input{
          width: 65%;
          border:none;
          outline: none;
          font-size: rem(16px);
        }
      }
    }
  }
  .submit{
    width: 90%;
    padding: rem(13px);
    border-radius: rem(5px);
    color: $WHITE;
    background: $BUTTON_COLOR;
    text-align: center;
    font-size: rem(16px);
    margin:0 rem(20px) ;
    margin-top: rem(40px);
  }
  .select {
    .selectHeader{
      position: fixed;
      width: 100%;
    }
    .selectMain{
      height: 100%;
      padding-top: rem(44px);
      overflow: auto;
      li{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

}