@import "../variable";

.bankCardList {
  background: $DEFAULT_BACKGROUND;
  height: 100%;;
  .main {
    padding: rem(44px) rem(15px) rem(65px);
    .bankBox {
      box-shadow: 0 2px 4px $GREY_FONT_COLOR;
      display: flex;
      margin: rem(15px) 0;
      position: relative;
      border-radius: rem(10px);
      overflow: hidden;
      .bankImgBox {
        width: rem(50px);
        height: rem(50px);
        position: relative;
        border-radius: 50%;
        margin: rem(10px) 0 0 rem(10px);
        img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 130%;
          margin: auto;
        }
      }
      .bankInfo {
        padding: rem(15px) rem(20px);
        >a, div {
          font-size: rem(16px);
          color: $WHITE;
        }
        .nameBox{
          display: flex;
          justify-content: space-between;
        }
        .saveCard {
          margin: rem(6px) 0;
          font-size: rem(12px);
        }
        .bankNum{
          font-size: rem(22px);
          margin: rem(10px) 0;
        }
        .setting {
          display: flex;
          > div {
            font-size: rem(12px);
            flex: 1;
            text-align: center;
            border: 1px solid $WHITE;
            border-radius: rem(5px);
            margin: 0 rem(15px);
            padding: rem(5px) 0;
          }
          .none{
            border: none;
          }
        }
      }
      .mark {
        position: absolute;
        top: 0;
        right: 0;
        width: rem(80px);
        background-color: $WHITE;
        color: $BUTTON_COLOR;
        transform: rotate(45deg) translateX(rem(20px)) translateY(-10px);
        font-size: rem(12px);
        text-align: center;
        padding: rem(5px);
      }
    }
    .addNewCard{
      box-shadow: 0 2px 4px $GREY_FONT_COLOR;
      display: block;
      width: rem(345px);
      height: rem(127px);
      border-radius: rem(10px);
      background: $WHITE;
      margin: rem(15px) 0;
      color: #333;
      >div{
        padding: rem(15px) 0;
        .add{
          width: rem(50px);
          height: rem(50px);
          border-radius: 50%;
          background: $BUTTON_COLOR;
          font-size: rem(35px);
          text-align: center;
          line-height: rem(45px);
          color: $WHITE;
          margin: auto;
        }
      }
      p{
        font-size: rem(16px);
        text-align: center;
      }
    }

  }
  .footBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $WHITE;
    padding: rem(15px);
    > div {
      width: 100%;
      margin: auto;
      padding: rem(10px) 0;
      text-align: center;
      color: $WHITE;
      background: $BUTTON_COLOR;
      font-size: rem(16px);
      border-radius: rem(5px);
    }
  }

}