@import "../variable";

.changePhoneNumber{
  .main{
    ul{
      li{
        position: relative;
        p{
          text-align: center;
        }
        .send{
          position: absolute;
          bottom: rem(10px);
          right: rem(15px);
          font-size: rem(12px);
          border: 1px solid $BUTTON_COLOR;
          color: $HEADER_COLOR;
          padding: rem(5px) rem(5px);
          border-radius: rem(3px);
        }
        .confirm{
          top: rem(14px);
        }
        input{
          background: transparent;
          width: rem(200px);
          line-height: 150%;
        }
      }

      .imageCode{
        margin-top: rem(15px);
      }
      .imageBox{
        img{
          height: rem(25px);
        }
        input{
          padding: rem(6px) 0;
        }
      }
    }
    .submit{
      width: 90%;
      padding: 0.34667rem;
      font-size: 0.42667rem;
      color: #FFFFFF;
      background: #085AAD;
      text-align: center;
      margin: 0 0.53333rem;
      margin-top: rem(50px);
      border-radius: 0.08rem;
    }
  }
}