@import "../variable";

.changePassword, .changePhoneNumber{
  background: $GRAY_BACKGROUND;
  height: 100vh;
  .main{
    padding-top: rem(45px);
    ul{
      li{
        background: $WHITE;
        border-bottom: 1px solid $BOX_LINE;
        padding: rem(12px);
        position: relative;
        font-size: 0;
        span{
          font-size: rem(12px);
          display:block;
          width:25%;
          text-align: left;
          vertical-align: center;
          padding: rem(5px) 0;
          color: $BUTTON_COLOR;
        }
        input{
          width: 60%;
          font-size:rem(15px);
          outline: none;
        }
        .closeBox{
          position: absolute;
          bottom: rem(8px);
          right: rem(2px);
          width: 10%;
          .close{
            fill:$HEADER_COLOR;
            width: rem(15px);
          }
          .small{
            width: rem(25px);
            height: rem(25px);
          }
        }
        a{
          font-size: rem(12px);
          padding: rem(3px) rem(5px);
          border: 1px solid $HEADER_COLOR;
          border-radius: rem(5px);
          color: $HEADER_COLOR;
          margin-left: rem(60px);
          &.forgotPassword{
            margin-left: 0;
            float: right;
          }
        }
      }
    }
    .buttonBox{
      margin-top: rem(40px);
      .submit{
        width: 90%;
        padding: rem(13px);
        font-size: rem(16px);
        color: $WHITE;
        background: $BUTTON_COLOR;
        text-align: center;
        margin:0 rem(20px);
        border-radius: rem(3px);
      }
      .already{
        background: #C7C7C7;
      }
      .tips{
        color: $GREY_FONT_COLOR;
        padding: rem(5px) 0;
        font-size: rem(14px);
        text-align: center;
      }
    }
    >p{
      text-align: center;
      font-size: rem(14px);
      margin-top: rem(10px);
      a{
        color: $HEADER_COLOR;
      }
    }
  }
}