@import '../variable';


.changeBankInfo{
  background: #f4f4f4;
  height: 100vh;
  .main{
    padding: rem(44px) 0;
    .bankBox {
      //box-shadow: 0 2px 4px #999;
      display: flex;
      margin: rem(15px);
      position: relative;
      overflow: hidden;
      border-radius: rem(5px);
      .bankImgBox {
        width: rem(50px);
        height: rem(50px);
        position: relative;
        border-radius: 50%;
        margin: rem(10px) 0 0 rem(10px);
        img {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 80%;
          margin: auto;
        }
      }

      .bankInfo {
        flex: .7;
        padding: rem(15px) rem(20px);
        >a, div {
          font-size: rem(16px);
          color: $WHITE;
        }
        .bankNum {
          margin: rem(15px) 0;
        }
        .setting {
          display: flex;
          > div {
            flex: 1;
            text-align: center;
            border: 1px solid $WHITE;
            border-radius: rem(5px);
            margin: 0 rem(15px);
            padding: rem(5px) 0;
          }
        }
      }
    }
    ul{
      background: $WHITE;
      li{
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        overflow: hidden;
        background: $WHITE;
        padding: rem(10px) rem(15px);
        span{
          width: 30%;
          display: block;
          font-size: rem(12px);
          color: $BUTTON_COLOR;
          padding: rem(5px) 0;
        }
        div, input{
          width: 65%;
          border:none;
          outline: none;
          font-size: rem(16px);
        }
      }
    }
    .submit{
      width: 100%;
      padding: rem(10px);
      border-radius: rem(5px);
      color: $WHITE;
      background: $BUTTON_COLOR;
      text-align: center;
      font-size: rem(16px);
      margin-top: rem(40px);
    }
  }
}