@import "../variable";

.mineBox{
  height: 100%;
  .main{
    padding: 0 rem(15px) rem(55px);
    .title{
      display: flex;
      padding: rem(10px) 0;
      justify-content: space-between;
      >div{
        display: flex;
        font-size: rem(18px);
        align-self: center;
        .logout0{
          div{
            svg{
              height: rem(25px);
              fill:$FOOT;
            }
          }
        }
        >div{
          display: flex;
          align-items: center;
          align-self: center;
          margin: 0 rem(5px);
          span{
            font-size: rem(16px);
          }
        }
        >img{
          width: rem(35px);
          height: rem(35px);
          margin-right: rem(5px);
        }
        a{
          >img{
            width: rem(20px);
          }
        }
      }
    }
    .balanceBox{
      background: url("../images/balanceBg.png")no-repeat center;
      -webkit-background-size: 100%;
      background-size: 110%;
      height: rem(100px);
      display: flex;
      justify-content: space-between;
      border-radius: rem(10px);
      .left{
        color: $WHITE;
        align-self: center;
        margin-left: rem(10px);
        >div{
          font-size: rem(14px);
          margin-bottom: rem(5px);
        }
        b{
          font-size: rem(30px);
        }
      }
      .right{
        align-self: center;
        width: rem(70px);
        margin-right: rem(10px);
        a{
          font-size: rem(12px);
          border: 1px solid $WHITE;
          padding: rem(8px) rem(3px);
          display: flex;
          justify-content: center;
          color: $WHITE;
          width: 100%;
          border-radius: rem(20px);
          margin: rem(8px) 0;
          align-self: center;
          >div{
            align-self: center;
            margin: 0 rem(2px);
          }
        }
        .bg{
          background: $BUTTON_COLOR;
          color: $WHITE;
        }
      }
    }
    .list{
      border-bottom: 1px solid $BOX_LINE;
      a{
        display: flex;
        background: $WHITE;
        padding:  rem(5px);
        height: rem(50px);
        justify-content: space-between;
        .listLeft, .listRight{
          padding: rem(8px) 0;
          justify-content: end;
          display: flex;
          align-self: center;
          span{
            justify-self: center;
            align-self: center;
            font-size: rem(16px);
            color: #000;
            margin-left:rem(7px);
          }
          svg{
            width: rem(27px);
            height: rem(27px);
          }
          .orange{
            fill:#FFCF24;
          }
          .blue{
            fill:#2F97F8;
          }
          .green{
            fill:#53C1A4;
          }
          .pink{
            fill:#EF8877;
          }
          .brown{
            fill:#E8C692;
          }
        }
        .listRight{
          display: flex;
          span{
            color: $FONT_COLOR;
            font-size: rem(14px);
          }
          .arrow{
            align-self: center;
            width: rem(5px);
            height: rem(10px);
            margin-left: rem(5px);
          }
          .rotate{
            transform: rotate(180deg);
          }
          .idBox{
            span{
              display: block;
              text-align: right;
            }
          }
        }
      }
    }
  }
}