@import "../variable";

.myUser{
  .main{
    padding-top: rem(44px);
    .empty{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      img{
        width: rem(150px);
        height: rem(130px);
        display: block;
        margin: auto;
        margin-top: rem(120px);
      }
      p{
        font-size: rem(16px);
        color: $BASIC_FONT_COLOR;
        text-align: center;
        margin-top: rem(15px);
      }
    }
    table{
      width: 100%;
      tr{
        font-size: rem(14px);
        display: flex;
        flex: 4;
        th{
          flex: 1;
          background: $GREY_FONT_COLOR;
          color: $WHITE;
          padding: rem(10px) 0;
        }
        td{
          flex: 1;
          padding: rem(10px) 0;
          text-align: center;
        }
        &:nth-child(even){
          td{
            background:rgb(245, 247, 251);
          }
        }
      }
    }
  }
}