@import '../variable';

.promotionBox{
  .main{
    padding-top: rem(44px);
    .top{
      width: 100%;
      ul{
        display: inline-block;
        width: 50%;
        padding: rem(5px);
        li{
          font-size: rem(16px);
          padding: rem(8px);
          text-align: center;
        }
        &:first-child{
          border-right: rem(2px) solid $BOX_LINE;
        }
        .lev{
          color: $BUTTON_COLOR;
        }
      }
    }
    .foot{
      margin-top: rem(15px);
      img{
        width: 100%;
      }
      table{
        width: 100%;
        tr{
          th{
            color: $WHITE;
            padding: rem(10px);
            background: $BUTTON_COLOR;
            font-size: rem(16px);
            border: 1px solid #C7C7C7;
            vertical-align: middle;
          }
          td{
            padding: rem(10px);
            font-size: rem(16px);
            text-align: center;
            border: 1px solid #C7C7C7;
          }
        }
      }
    }
    .share{
      display: block;
      width: rem(150px);
      height: rem(40px);
      margin: auto;
      text-align: center;
      line-height: rem(40px);
      border-radius: rem(5px);
      color: $WHITE;
      font-size: rem(16px);
      background: $BUTTON_COLOR;
      margin-top: rem(15px);
    }
  }
  .success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    div{
      width: rem(250px);
      height: rem(100px);
      text-align: center;
      line-height: rem(100px);
      font-size: rem(18px);
      color: #FFFFFF;
      position: absolute;
      top: -10%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #495b75;
      border-radius: rem(5px);
    }
  }
}