@import '../variable';

.realName{
  height: 100%;;
  background: $GRAY_BACKGROUND;
  .main{
    padding-top: rem(45px);
    ul{
      li{
        background: $WHITE;
        border-bottom: 1px solid $BOX_LINE;
        display: flex;
        justify-content: flex-start;
        padding: rem(12px);
        span{
          font-size: rem(16px);
          display: inline-block;
          width: 25%;
          text-align: center;
          vertical-align: center;
          padding: rem(3px);
        }
        input{
          margin-left: rem(10px);
          width: 60%;
          font-size:rem(16px);
          outline: none;
        }
      }
    }
    .verification{
      width: 90%;
      padding: rem(13px);
      font-size: rem(16px);
      color: $WHITE;
      background: $HEADER_COLOR;
      text-align: center;
      margin: rem(20px);
      border-radius: rem(3px);
    }
    .already{
      background: #e1e3e6;
    }
    >p{
      margin-left:rem(22px);
      font-size: rem(14px);
      color: $GREY_FONT_COLOR;
      a{
        color: $HEADER_COLOR;
      }
    }
  }
}