@import "../variable";

.recommend{
  background: #624ad9;
  height: 100%;
  .main{
    position: relative;
    padding-top: rem(44px);
    img{
      //padding-top: rem(44px);
      width: 100%;
      margin-left: -2px;
    }
    .p{
      position: absolute;
      width: rem(100px);
      height: rem(100px);
      top: rem(250px);
      left: rem(140px);
    }
    .shareBox{
      width: 90%;
      margin: auto;
      padding: rem(15px);
      border: 1px dashed $BASIC_FONT_COLOR;
      display: flex;
      border-radius: rem(40px);
      margin-bottom: rem(30px);
      >div{
        font-size: rem(16px);
        color: $WHITE;
      }
      .shareLeft{
        flex: .8;
        .shareAddress{
          font-size: rem(13px);
          margin-top: rem(10px);
        }
      }
      .shareRight{
        text-align: center;
        flex: .2;
        >div{
          width: rem(50px);
          display: inline-block;
          margin: auto;
          font-size: rem(14px);
          color: $WHITE;
          background: $BASIC_FONT_COLOR;
          border-radius: rem(5px);
          padding:rem(8px) rem(10px);
          margin-top: rem(5px);
        }
      }
    }
  }
  .success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    div{
      width: rem(250px);
      height: rem(100px);
      text-align: center;
      line-height: rem(100px);
      font-size: rem(18px);
      color: $WHITE;
      position: absolute;
      top: -10%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #495b75;
      border-radius: rem(5px);
    }
  }
}