@import "../variable";
.trade {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  .mask {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,0.4);
    padding-top: rem(45px);
    .space{
      display: flex;
      justify-content: space-between;
      padding: 0 rem(15px);
      height: rem(44px);
      width: 90%;
      background:$DEFAULT_BACKGROUND;
      border-top-right-radius: rem(5px);
      border-top-left-radius: rem(5px);
      .back{
        display: flex;
        align-items: center;
        .footIconWrap{
          display: flex;
          align-items: center;
          div{
            display: flex;
            align-items: center;
          }
        }
      }
      >a{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          font-size: rem(14px);
          color:$ACTIVE_FONT_COLOR;
        }
        .switchIt{
          width: rem(16px);
          margin-right: rem(8px);
          display: flex;
          align-items: center;
          div{
            display: flex;
            align-items: center;
            svg{
              width: rem(16px);
            }
          }
        }
      }
      .rule{
        display: flex;
        align-items: center;
        >span{
          font-size: rem(14px);
          color:$ACTIVE_FONT_COLOR;
          margin-left: rem(5px);
        }
      }
      .ruleWrap{
        display: flex;
        align-items: center;
        div{
          display: flex;
          align-items: center;
          svg{
            height: rem(20px);
            width: rem(20px);
          }
        }
      }
    }
    ul.title{
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-top: 1px solid #F3F1F1;
      background: $BACKGROUND;
      li{
        flex:1;
        font-size: rem(12px);
        color:$ACTIVE_FONT_COLOR;
        text-align: center;
        line-height: 300%;
      }
    }
    .list{
      width: 90%;
      margin:0 auto;
      background-color:$DEFAULT_BACKGROUND;
      flex: 1;
      overflow-y:auto;
      li{
        &:last-child{
          border-bottom: 0;
        }
      }
      .title{
        color:$LIGHT_BACKGROUND;
        height: rem(45px);
        line-height: rem(45px);
        font-size: rem(15px);
        padding-left: rem(15px);
        background: #F9FAFF;
      }
      .group{
        padding: rem(8px) 0;
        display: flex;
        flex-wrap: wrap;
        //justify-content: start;
        >div{
          width: 22%;
          margin: rem(5px);
          //background-color: $BACKGROUND;

          >a{
            display: block;
            background: #fff;
            color:$DEEP_GREY_FONT_COLOR;
            font-size: rem(14px);
            height: rem(30px);
            line-height: rem(28px);
            text-align: center;
            border: 2px solid #DBE7FF;
            border-radius:rem(22px);
          }
        }
        div.selected{
          a{
            background: $ACTIVE_FONT_COLOR;
            color:#fff;
            border-color:$ACTIVE_FONT_COLOR;
          }
        }
      }
    }
  }
  .t-header {
    height: rem(45px);
    position:fixed;
    z-index: 97;
    top:0;
    left:0;
    background: $linear;
    background-size: cover;
    font-size: 0;
    color:$BACKGROUND;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 rem(10px);
    .right{
      display: flex;
      align-items: center;

      a{
        display: block;
        font-size: rem(14px);
        color:$BACKGROUND;
      }
    }
    .triangle {
      @include triangle(bottom,5px,8px,$BACKGROUND){
        display: inline-block;
        vertical-align: middle;
      };
    }
    .backTag {
      display: flex;
      align-items: center;
      .backWrap {
        text-align: center;
        div {
          svg{
            height: rem(16px);
            fill: $BACKGROUND;
          }
        }
      }
    }
    .darkWrap{
      display: flex;
      align-items: center;
      div{
        display: flex;
        align-items: center;
        svg{
          height: rem(20px);
          fill:$DEFAULT_BACKGROUND;
        }
      }
    }
    .rule{
      display: flex;
      align-items: center;
      .ruleWrap{
        display: flex;
        align-items: center;
        div{
          display: flex;
          align-items: flex-start;
          svg{
            height: rem(24px);
          }
        }
      }
    }

    .group {
      font-size: 0;
      display:flex;
      align-items: center;
      height: rem(44px);
      .cell {
        vertical-align: middle;
        display: flex;
        align-items: center;
        background:$DEFAULT_BACKGROUND;
        margin: 0 auto;
        border-radius: rem(18px);
        overflow: hidden;
        .text{
          font-size: rem(17px);
          color:$BACKGROUND;
          margin-right: rem(5px);
          span{
            font-size: rem(14px);
          }
        }
      }
      a {
        font-size: rem(15px);
        color:$BGACTIVE;
        width: rem(88px);
        height: rem(35px);
        line-height: rem(35px);
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-weight: normal;
        &.active{
          background-color: $BGACTIVE;
          color:$DEFAULT_BACKGROUND;
        }
      }
      .fake{
        a{
          &.active{
            background-color: $Money_Color;
          }
          &.order {
            border: 1px solid $Money_Color;
          }
          &.position {
            border: 1px solid $Money_Color;
            color:$Money_Color;
          }
        }
      }
    }
    .rule {
      line-height: rem(44px);
      font-size: rem(14px);
      color:$DEFAULT_BACKGROUND;
      text-align: center;
    }
  }
  .quoteBar {
    box-sizing:content-box;
    padding-top: rem(45px);
    width: 100%;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $BACKGROUND;
    box-shadow: 0 0 12px 0 rgba(239,237,237,0.5);
    height: rem(40px);
    margin-bottom: rem(8px);
    .left{
      flex:3;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding-left: rem(10px);
      background: $linear;
      color:$DEFAULT_BACKGROUND;
      height: 100%;
      line-height: rem(40px);
      .triangle{
        svg{
          width: rem(10px);
          fill:$DEFAULT_BACKGROUND;
          background: transparent;
        }
      }
      .first{
        >p{
          color:#A5A4A5;
          line-height: 150%;
        }
      }
      .other{
        padding-left: rem(20px);
        p{
          line-height: 150%;
        }
      }
    }
    .right{
      flex:3;
      background: $linear;
      color:$DEFAULT_BACKGROUND;
      height: 100%;
      line-height: rem(40px);
      text-align: center;
      padding: 0 rem(5px);
      >p{
        width: 50%;
        float:left;
        font-size: rem(12px);
        color:#A5A4A5;
        text-align: center;
        line-height: 200%;
        span{
          font-size: rem(12px);
          color:#131313;
        }
      }
    }
    .right.fall{
      color:#00e08b;
    }
    .right.raise{
      color:$RAISE;
    }
    > div {
      font-size: rem(16px);
      color: #514736;
      &.raise {
        color: $DARK_RED;
      }
      &.fall {
        color: #00e08b;
      }
      p{
        font-size: rem(12px);
        line-height: 100%;
      }
      span{
        font-size: rem(29px);
      }

    }
  }
  .chartBar {
    box-shadow: 0 0 12px 0 rgba(239,237,237,0.5);
    height: rem(36px);
    line-height: rem(42px);
    background:#F1F3FF;
    display: flex;
    justify-content: space-between;
    >div{
      flex:1.5;
      font-size: rem(12px);
      text-align: center;
      line-height: rem(36px);
      color:$DEFAULT_BACKGROUND;
      span{
        padding:rem(2px) rem(5px);
        //border:1px solid $ACTIVE_FONT_COLOR;
        border-radius:rem(3px);
        background: $ACTIVE_FONT_COLOR;
      }
    }
    > ul {
      display: flex;
      flex:8.5;
      justify-content: space-around;
      > li {
        display: flex;
        flex:1;
        align-items: center;
        > div {
          width: 100%;
          text-align: center;
          font-size: rem(13px);
          vertical-align: middle;
          display: inline-block;
          border-bottom: none;
          color:$DEEP_GREY_FONT_COLOR;
          &.active {
            //background-color: #e6ebf5;
            //background-color: $ACTIVE_COLOR;
            background: #FF5C44;
            color:$DEFAULT_BACKGROUND;
            height: 100%;
            line-height: rem(38px);
          }
        }
        font-size: rem(14px);
      }
    }
  }
  .chart{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    flex: 1;
    display: flex;
    .dynamic{
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      overflow: auto;
      //flex: 1;
      &.show{
        display: block;
      }
      &.hide{
        display: none;
      }
      table{
        width: 100%;
        border-collapse: collapse;
      }
      tr{
        display: flex;
        &:nth-child(2n){
          background:#F9FAFF;
        }
        td{
          height: rem(60px);
          padding: rem(10px) 0;
          width: 50%;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: space-around;
          &:first-child{
            width: 25%;
          }
          &:last-child{
            width: 25%;
          }
          span:last-child{
            font-size: rem(16px);
            color:$DEEP_GREY_FONT_COLOR;
          }
          span{
            font-size: rem(13px);
            align-self: center;
            text-align: center;
            color:#979797;
            &.raise{
              color: $RAISE;
            }
            &.fall{
              color: $FALL;
            }
          }
        }
      }
    }
    #tradingView {
      flex: 1;
      //height: rem(330px);
      .chart-page .chart-container{
        border:1px solid #000 !important;
      }
    }
  }
  .stateBar.grow{
    height: rem(250px);
    box-shadow: 0 0 12px 0 rgba(42,8,0,0.3);
  }
  .stateBar.grow.short{
    height: rem(255px);
  }
  .stateBar {
    position: relative;
    height: rem(148px);
    background:$DEFAULT_BACKGROUND;
    transition: all 0.3s ease 0s;
    -moz-transition:  all 0.3s ease 0s; /* Firefox 4 */
    -webkit-transition:  all 0.3s ease 0s; /* Safari 和 Chrome */
    -o-transition:  all 0.3s ease 0s; /* Opera */
    div.double{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: rem(15px);
      padding: rem(10px);
      padding-top: 0;
      color:#333;
      .right.sim{
        display: flex;
        flex:1;
        justify-content: space-between;
        align-items: center;
        .btn{
          height: auto;
        }
      }
      >span{
        color:#979797;
        font-size: rem(12px);
      }
      .right{
        >span{
          margin:0 rem(10px);
          font-size: rem(17px);
        }
        .btn{
          border: 1px solid #D9D9D9;
          border-radius: rem(18px);
          color:#333;
          font-size: rem(14px);
          line-height: 150%;
          padding: rem(2px) rem(6px);
        }
      }
    }
    .rare{
      ul{
        position: relative;
        li{
          display: flex;
          justify-content:center;
          align-items: center;
          padding:rem(8px) rem(10px);
          font-size: rem(14px);
          color:#333;
          text-align: center;
          >span{
            display: flex;
            flex:2;
            font-size: rem(13px);
            color:#333;
          }
          .right.sim{
            display: flex;
            justify-content: space-around;
            a.btn{
              margin:0;
            }
          }
          .right{
            display: flex;
            flex:1;
            align-items: center;
            // flex-wrap:wrap;
            ul.btn-list{
              display: flex;
              flex:1;
              justify-content: space-between;
              align-items: center;
              padding-top: 0;
              li{
                flex:1;
                font-size: rem(14px);
                height: rem(30px);
                line-height: rem(30px);
                margin:rem(3px);
                border:1px solid #D9D9D9;
                border-radius: rem(4px);
              }
              li.active{
                background: $linear;
                border-color:$DARK_BACKGROUND;
                color:$DEFAULT_BACKGROUND;
              }
            }
            a.btn{
              margin-left: rem(20px);
            }
            p.volume{
              font-size: rem(16px);
              color:#474958;
              padding: 0 rem(10px) ;
              width: rem(48px);
              height: rem(30px);
              text-align: center;
              line-height: rem(30px);
              white-space: nowrap;
              border:1px solid #D9D9D9;
              border-radius: rem(4px);
            }
            p.active{
              background:$linear;
              color:$BACKGROUND;
              border-color:$DARK_BACKGROUND;
            }
          }
        }
      }
      >ul{
        // margin-top: rem(40px);
        position: relative;
        >li.ms{
          position: absolute;
          right:0;
          top:rem(-38px);
          .right{
            // width: rem(100px);
            // display: flex;
            // justify-content: center;
            // align-items: center;
            p{
              // padding: rem(16px);
              width: rem(62px);
              border: 1px solid #D9D9D9;
              margin-right: rem(14px);
              line-height: rem(25px);
              height: rem(25px);
              // border:none;
              // border-radius:rem(6px);
            }
          }
        }
        >li:last-child{
          .right{
            display: flex;
            justify-content: space-between;
            >p{
              flex:1;
              margin: 0 rem(3px);
            }
          }
        }
      }
    }
    .space {
      height: rem(30px);
      line-height: rem(30px);
    }
    .statistics{
      display: flex;
      height: rem(38px);
      justify-content: space-between;
      padding: 0 rem(6px);
      .layer{
        display: flex;
        justify-content: center;
      }
      .overage{
        width: rem(120px);
      }
      .alignment{
        width: rem(85px);
        margin: 0;
      }
    }
    .balance{
      height: rem(30px);
      line-height: rem(30px);
      font-size: rem(13px);
      align-self: center;
      text-align: center;
      color:#ABABAB;
      max-width: rem(154px);
      overflow: hidden;
      span{
        color:$ACTIVE_FONT_COLOR;
      }
    }
    .btn{
      &.fill{
        background-color: $ACTIVE_FONT_COLOR;
        color: #ffffff;
      }
      height: rem(20px);
      line-height: rem(20px);
      padding: 0 rem(8px);
      font-size: rem(13px);
      border: 1px solid $ACTIVE_FONT_COLOR;
      text-align: center;
      align-self: center;
      color: $ACTIVE_FONT_COLOR;
      border-radius: rem(3px);
      margin: 0 rem(4px);
    }
    .topBar{
      height: rem(65px);
    }
    .loginBar{
      display: flex;
      justify-content: center;
      height: rem(65px);
      line-height: rem(65px);
      >a{
        width: rem(70px);
        height: rem(23px);
        line-height: rem(23px);
        align-self: center;
        text-align: center;
        font-size: rem(13px);
        border-radius: 5px;
        border: 1px solid $ACTIVE_FONT_COLOR;
        margin: 0 5px;
        &:first-child{
          color: #ffffff;
          background-color: $ACTIVE_FONT_COLOR;
        }
        &:last-child{
          color: $ACTIVE_FONT_COLOR;
        }
      }
      img{
        height: rem(32px);
        align-self: center;
      }
    }
    .fastTrade{
      height: rem(30px);
      line-height: rem(30px);
      text-align: center;
      font-size: rem(14px);
      display: flex;
      margin-top:rem(10px);
      .layer{
        flex:1;
        display: flex;
        justify-content: center;
        >span{
          font-size: rem(13px);
          color: #ABABAB;
          padding-left: rem(5px);
          flex: 1;
        }
        .handle{
          display: flex;
          justify-content: center;
          flex: 2;
          .count,.amount{
            font-size: rem(13px);
            color:#9D9CA1;
            height: rem(26px);
            line-height: rem(26px);
            align-self: center;
            border-top:1px solid $BOX_LINE;
            border-bottom: 1px solid $BOX_LINE;
            padding: 0 rem(6px);
            text-align: center;
            flex: 1;
          }
          .count{
            max-width: rem(50px);
          }
          .amount{
            max-width: rem(70px);
          }
          .add,.sub{
            width: rem(20px);
            align-self: center;
            border: 1px solid $BOX_LINE;
            height: rem(26px);
            line-height: rem(22px);
            color: $ACTIVE_FONT_COLOR;
            font-size: rem(20px);
          }
          .add{
            border-radius: 0 5px 5px 0;
          }
          .sub{
            border-radius: 5px 0 0 5px;
          }
        }
      }
    }
    .rest {
      height: rem(30px);
      line-height: rem(30px);
      font-size: rem(14);
      color: $GREY_FONT_COLOR;
      text-align: center;
    }
    .lrButton{
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        font-size: rem(15px);
        text-align: center;
        border:1px solid $DARK_BACKGROUND;
        border-radius: rem(5px);
        padding: rem(7px) rem(30px);
        color:$DARK_BACKGROUND;
      }
      a:first-child{
        background: $DARK_BACKGROUND;
        color:$DEFAULT_BACKGROUND;
        margin-right: rem(3px);
      }
      a:last-child{
        margin-left: rem(3px);
      }
    }
    .volume {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: rem(30px);
      font-size:rem(13px);
      padding:rem(10px) rem(10px);
      padding-bottom:rem(5px);
      >div{
        flex:3;
      }
      div:nth-child(2){
        display: flex;
        justify-content: space-around;
        align-items: center;
        >div{
          flex:1;
          text-align: center;
        }
        .text{
          color:#3D3D3D;
        }
        .right{
          color:$FALL;
        }
        .left{
          color:$RAISE;
        }
      }
      .percent{
        flex:3;
        height: rem(8px);
        background:#F1F1F1;
        >div{
          transition: all 0.3s ease 0s;
          -moz-transition:  all 0.3s ease 0s; /* Firefox 4 */
          -webkit-transition:  all 0.3s ease 0s; /* Safari 和 Chrome */
          -o-transition:  all 0.3s ease 0s; /* Opera */
        }
        .raise{
          float:right;
          background:$BGACTIVE;
          height: rem(8px);
        }
        .fall{
          background:$FALL;
          height: rem(8px);
        }
      }
    }
    .controller {
      position: absolute;
      bottom:rem(10px);
      //-webkit-transform: translate(-50%,0);
      //-moz-transform: translate(-50%,0); transform:translate(-50%,0);
      width: 95%;
      margin-left: 2%;
      display: flex;
      justify-content: center;
      .raise, .fall {
        flex:1;
        display: flex;
        justify-content: center;
        height: rem(50px);
        line-height: rem(50px);
        font-size: rem(15px);
        text-align: center;
        background: #ffffff;
        border-radius: rem(2px);
        box-shadow: 0 4px 14px 0 rgba(0,0,0,0.05);
        .footIconWrap{
          display: flex;
          align-items: center;
          margin-right: rem(5px);
          div{
            display: flex;
            align-items: center;
          }
        }
        span{
          font-size: rem(15px);
        }
      }
      .raise {
        color: $BGACTIVE;
        border:1px solid $BOX_LINE;
        padding-right: rem(23px);
        svg{
          fill:$BGACTIVE;
        }
      }
      .fall {
        color: $FALL;
        border:1px solid $BOX_LINE;
        padding-left: rem(23px);
        svg{
          fill:$FALL;
        }
      }
      .fastBtn {
        position: absolute;
        left:41%;
        top:rem(-10px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(14px);
        height: rem(66px);
        line-height: rem(48px);
        width: rem(66px);
        text-align: center;
        align-self: center;
        background-image: linear-gradient(-180deg, #FFFFFF 0%, #FDFDFD 86%, #FCFCFC 100%);
        box-shadow: 0 4px 12px 0 rgba(0,0,0,0.13);
        border-radius: 50%;
        .footIconWrap{
          display: flex;
          align-items: center;
          div{
            display: flex;
            align-items: center;
            .close{
              fill:grey;
            }
            .open{
              fill:$DARK_BACKGROUND;
            }
            svg{
              background: transparent;
            }
          }
        }
        .switchModel{
          width: rem(49px);
          height: rem(28px);
          margin-left: rem(8px);
          &.active{
            background:$DARK_BACKGROUND;
            .button{
              left:rem(22px);
              background:$ACTIVE_FONT_COLOR;
              box-shadow: none;
              top:rem(1px)
            }
          }
          .button{
            z-index: 1;
            width: rem(26px);
            height: rem(26px);
          }
        }
        &.open {
          fill: $ACTIVE_COLOR;
          color: $ACTIVE_COLOR;
        }
        &.close {
          fill: $BOX_LINE;
          color: $BASIC_FONT_COLOR;
        }
        .flashWrap {
          width: rem(26px);
          height: rem(26px);
          align-self: center;
          > div {
            width: inherit;
            height: inherit;
            font-size: 0;
            > .flash {
              width: rem(26px);
              height: rem(26px);
            }
          }
        }
        span {
          font-size: rem(12px);
          color:$BASIC_COLOR;
        }
      }
    }
  }
}