@import "variable";
@import "eric-meyer-reset.min.css";
@import "normalize.css";
@import "common/index";
@import "common/selectStyles";
@import "home/index";
@import "login/index";
@import "register/index";
@import "mine/index";
@import "mine/realNameVerification";
@import "mine/changePassword";
@import "mine/changePhoneNumber";
@import "mine/bankCardList";
@import "mine/addBankCard";
@import "mine/changeBankInfo";
@import "customerService/index";
@import "trade/index";
@import "order/index";
@import "rule/index";
@import "position/index";
@import "position/listInfo";
@import "info/index";
@import "info/detail.scss";
@import "info/notices";
@import "mine/recommendFriends";
@import "mine/myUser";
@import "moneyList/index.scss";
@import "moneyList/listDetail.scss";
@import "mine/promotion";
@import "cs/index";
@import "common/allbalance";


@import "activity/index";

@import "withdraw/index";
@import "withdraw/history";

//todo 账户
//@import "account/accountSet";




////todo 取款
//@import "withdraw/index";
////todo 存款
@import "recharge/index";
@import "recharge/rechargeStyle";
@import "recharge/record";
@import "pop/index";
////todo 行情
//@import "quotation/index";

*{
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //font-family: "Microsoft Yahei", Helvetica, Tahoma, Arial, sans-serif;
  font-family: "Microsoft Yahei";
}

body,html{
  height: 100%;
}

#root{
  height: 100%;
  >div{
    height: 100%;
    //.switch-swipe{
    //  height: 100%;
    //  >div{
    //    &:last-child{
    //      height: 100%;
    //    }
    //  }
    //}
  }
}
