$BASIC_COLOR: #000000;
$DEFAULT_BACKGROUND: #F4F4F4;


$BASIC_FONT_COLOR: #333333;
$GREY_FONT_COLOR: #a2a2a2;
$DEEP_GREY_FONT_COLOR:#666666;

$RAISE: #e34c4c;
$BGACTIVE: #FF5F57;
$FALL: #00c77b;
$FOOT:#00026E;
// $linear:linear-gradient(to left, #00026E, #2d30e2, #00026E);
// $linear:linear-gradient(to left, #085AAD, #1d79d6, #085AAD);
$linear:#00026E;
$baseWidth: 375;
$ACTIVE_FONT_COLOR: #ffe38f;
$ACTIVE_COLOR: #00026E;

//$BUTTON_COLOR: #caa35a;
$BOX_LINE: #e1e1e1;
$FOOT_COLOR: #FCDA66;
$GRAY_BACKGROUND: #f4f4f4;
$LIGHT_BACKGROUND:#2B2212;
$Money_Color:#395173;
//todo RX public
$OTHER_COLOR: #d29022;
$HEADER_COLOR:#0d265e;
$BUTTON_COLOR:#085AAD;
$FONT_COLOR:#333;
$BACKGROUND: #F3F3F5;
$WHITE:#FFFFFF;
$LIGHT_LINE:#E9E9E9;
$PINK: #FF63A2;
$DARK_RED:#F26061;
$DARK_BACKGROUND:#00026E;
$DARK_RED:#F26061;
$DARK_GREEN:#00e08a;
$DARK_BLUE:#1e212a;
$DARKTYPE_BGC:#1e212a;
$DARKTYP_BGC0:#121316;
$DARKTYP_GREY:#222427;
$DARKTYPE_RED:#a74348;
$DARKTYPEGREEN:#387A5D;
$OTHER_BACKGROUND:#F9F9F9;


$baseWidth: 375;
$baseSize: $baseWidth/10;

@function rem($val) {
  @if unitless($val) == true {
    @return #{$val/$baseSize}rem
  } @else {
    @return #{($val / ($val * 0 + 1))/$baseSize}rem
  }
}

@mixin screen($res-max) {
  @media only screen and (max-width: #{$res-max}px), only screen and (max-device-width: #{$res-max}px) {
    html,
    body {
      font-size: #{($baseSize * ($res-max/$baseWidth))}px !important;
    }
  }
}

@mixin triangle($direction,$size,$tend,$color) {
  @content;
  width: 0;
  height: 0;
  @if $direction == top {
    border-bottom: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == right {
    border-left: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  } @else if $direction == bottom {
    border-top: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == left {
    border-right: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  }
}

@mixin nav-page{
  &.come{
    left: 0;
  }
  transition: .2s all ease-out;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@mixin nav-page-bottom{
  &.come{
    top: 0;
  }
  transition: .2s all ease-out;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: rgb(0, 0, 0);
}

.red{
  color: $RAISE;
}
.green{
  color: $FALL;
}
.rest{
  color: $GREY_FONT_COLOR;
}
.redBg{
  background: $RAISE;
}
.greenBg{
  background: $FALL;
}
.greenCard{
  background: linear-gradient(to right bottom,#03b4a4,#0ca3a3,#1988a4);
}
.redCard{
  background: linear-gradient(to right bottom,#e7704a,#d04535,#d03e35);
}
.blueCard{
  background: linear-gradient(to right bottom,#4B85B8,#4478B0,#2F4F95);
}
.pinkCard{
  background: linear-gradient(to right bottom,#fa8163,#fb726d,#fd557d);
}

//todo HOT 样式
.hot{
  background: $RAISE;
  font-size: rem(6px);
  vertical-align: top;
  padding:2px 3px;
  border-radius: 2px;
  color: $WHITE;
  margin-left: 3px;
}
.new{
  background: $FALL;
  font-size: rem(6px);
  vertical-align: top;
  padding:2px 3px;
  border-radius: 2px;
  color: $WHITE;
}
//todo 提示样式
.remark{
  padding: rem(15px);
  color: #999;
  h4{
    font-size: rem(14px);
    padding: rem(5px);
    color: $HEADER_COLOR;
  }
  ul{
    font-size: rem(12px);
    padding: rem(4px);
    line-height: rem(15px);
    list-style: inherit;
    margin-left: rem(20px);
    li{
      padding: rem(2px);
      a{
        color: $HEADER_COLOR;
      }
    }
  }
}

.warn{
  display: flex;
  padding:rem(8px) rem(22px) ;
  img{
    width: rem(16px);
    height: rem(16px);
    align-self: center;
    margin-right: rem(5px) ;
  }
  p{
    font-size: rem(14px);
    align-self: center;
    color:$GREY_FONT_COLOR;
  }
}

//todo 收验证码前 图片验证码弹窗样式
.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  .codeBox {
    width: rem(300px);
    height: rem(151px);
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: $WHITE;
    >p {
      font-size: rem(16px);
      color: #000;
      padding: rem(15px);
      text-align: center;
    }
    .code {
      padding: rem(15px) rem(30px);
      overflow: hidden;
      img {
        width: 30%;
        height: rem(30px);
        float: left;
      }
      input {
        float: left;
        width: 65%;
        outline: none;
        border: none;
        border-bottom: 1px solid $BOX_LINE;
        font-size: rem(14px);
        padding: rem(6.5px);
      }

    }
    .codeButton {
      border-top: 1px solid $BOX_LINE;
      display: flex;
      div {
        flex: 1;
        text-align: center;
        font-size: rem(16px);
        padding: rem(14px);
      }
      .sure {
        color: #26a2ff;
        border-left: 1px solid $BOX_LINE;
      }
    }
  }
}

//todo 选择城市样式
.select{
  position: fixed;
  top: 0;
  left:0;
  height: 100%;;
  z-index: 100;
  width: 100%;
  background: $WHITE;
  .selectHeader{
    background: $HEADER_COLOR;
    padding: rem(5px) rem(10px);
    height: rem(44px);
    color: $BACKGROUND;
    .backTag{
      position: absolute;
      width: rem(40px);
      height:rem(40px);
      left: rem(11px);
      align-self: center;
      .arrow{
        fill:$BACKGROUND;
        width: rem(15px);
      }
    }
    .title{
      text-align: center;
      font-size: rem(16px);
      line-height: rem(30px);
      align-self: center;
    }
  }
  .selectMain{
    ul{
      li{
        padding:rem(15px) rem(10px);
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        .arrow{
          width: rem(16px);
          height: rem(16px);
          float: right;
        }
        .out{
          display: flex;
          align-items: center;
          div{
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}