@import "../variable";
// .recharge.dark{
//   .main{
//     background:$DARKTYPE_BGC;
//   }
//   .main > a{
//     background: $DARKTYP_GREY;
//   }
//   .main > a .cardRight h4{
//     color:$BASIC_FONT_COLOR;
//   }
//   .main > a .cardLeft .circle{
//     background:$BASIC_FONT_COLOR;
//   }
//   .main > a .cardLeft .circle .card{
//     fill:$DEEP_GREY_FONT_COLOR;
//   }
// }
.recharge{
  height: 100%;
  background: $OTHER_BACKGROUND;
  .header {
    .title{
      color:$DEFAULT_BACKGROUND;
    }
    .backTag{
      .out{
        svg{
          fill:$DEFAULT_BACKGROUND;
        }
      }
    }
    .link{
      color:$DEFAULT_BACKGROUND;
    }
  }
  .main{
    min-height: 100%;
    padding-top: rem(44px);
    background: $OTHER_BACKGROUND;
    >p.chooice{
      color:#A4A4A4;
      font-size: rem(14px);
      text-align: left;
      margin: rem(10px);
      padding-bottom: 0;
    }
    >a{
      overflow: hidden;
      padding: rem(10px);
      display: flex;
      align-items: center;
      margin-bottom: rem(20px);
      background: $DEFAULT_BACKGROUND;
      .cardLeft{
        float: left;
        width: 23%;
        .circle{
          display: flex;
          width: rem(60px);
          height: rem(60px);
          border-radius: 50%;
          background:#FAFAFA;
          line-height: rem(70px);
          justify-content: center;
          align-items: center;
          .outCard{
            display: flex;
            align-items: center;
            >div{
              display: flex;
              align-items: center;
            }
          }
          .card{
            height: rem(30px);
            fill:$DARK_BACKGROUND;
          }
        }
      }
      .cardRight{
        float: left;
        width: 77%;
        h4{
          font-size: rem(16px);
          color: #000;
        }
        p{
          font-size: rem(14px);
          color:#CEB1B1;
          line-height: rem(18px);
          vertical-align: bottom;
        }
      }
    }
    >p{
      text-align: center;
      font-size: 16px;
      margin-top: rem(60px);
      padding-bottom: rem(10px);
      a{
        color: $DARK_BACKGROUND;
      }
    }
  }
  .mainBg{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
    .mainBox{
      width: rem(320px);
      height: rem(260px);
      background: #fff;
      position: absolute;
      top: rem(-100px);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      padding: rem(10px);
      h4{
        font-size: rem(24px);
        text-align: center;
        padding:0 rem(10px);
      }
      .back{
        position: absolute;
        top: rem(10px);
        right: rem(10px);
        display: flex;
        height: rem(20px);
        width: rem(20px);
        div{
          display: flex;
          align-items: center;
          height: rem(20px);
          width: rem(20px);
          svg{
            width: rem(20px);
            height: rem(20px);
            fill:$DARK_BACKGROUND;
          }
        }
      }
      .mainRealName{
        margin-top: rem(40px);
        display: flex;
        border: 1px solid $BOX_LINE;
        padding: rem(10px) 0;
        span{
          display: inline-block;
          width: rem(100px);
          font-size: rem(16px);
          text-align: center;
          align-self: center;
          color: $BUTTON_COLOR;
        }
        input{
          width: rem(220px);
          font-size: rem(16px);
          outline: none;
          &::placeholder{
            color: $GREY_FONT_COLOR;
          }
        }
      }
      p{
        font-size: rem(12px);
        color: $DARK_BACKGROUND;
        margin: rem(10px) rem(5px);
        line-height: 120%;
      }
      .submit{
        width: rem(300px);
        height: rem(40px);
        background: $DARK_BACKGROUND;
        color: #fff;
        text-align: center;
        line-height: rem(40px);
        font-size: rem(16px);
        margin: auto;
        margin-top: rem(30px);
        border-radius: rem(5px);
      }
    }
  }
}