@import "../variable";

.rechargeStyle{
  .balance{
    margin: rem(15px);
    text-align: center;
    box-shadow: 0 2px 4px 1px #D3D9E2;
    border-radius:rem(8px);
    height: rem(130px);
    padding: rem(20px);
    color:$DEFAULT_BACKGROUND;
    background: $DARK_BACKGROUND url("../images/mask.png") no-repeat bottom left;
    background-size: contain;
    span{
      font-size: rem(18px);
    }
    b{
      display: block;
      font-size: rem(30px);
      line-height: 150%;
    }
  }
  .main{
    padding-top: rem(44px);
    .rechargeBody{
      padding: rem(15px);
      p{
        color: $RAISE;
        font-size: rem(14px);
        text-align: center;
        padding-bottom: rem(15px) ;
      }
      .panel{
        //.row{
        //  padding:rem(6px);
        //  border-bottom: 1px solid $BOX_LINE;
        //  overflow: hidden;
        //  font-size: rem(16px);
        //  height: rem(42px);
        //  display: flex;
        //  label{
        //    width: 30%;
        //    text-align: center;
        //    align-self: center;
        //  }
        //  input{
        //    width: 70%;
        //    align-self: center;
        //    border: none;
        //    outline: none;
        //    padding-left: rem(10px);
        //    &::placeholder {
        //      align-self: center;
        //      line-height: 1;
        //    }
        //  }
        //}
      }
      .next{
        width: 95%;
        height: rem(50px);
        line-height: rem(30px);
        margin: rem(30px) auto 0 auto;
        padding: rem(10px);
        border-radius: rem(3px);
        font-size: rem(16px);
        text-align: center;
        background: $DARK_BACKGROUND;
        color: #FFFFFF;
      }
    }

  }
  //银行卡转账后的样式
  .transferCardInfo{
    padding-top: rem(44px);
    .title{
      padding: rem(20px);
      font-size: rem(16px);
      text-align: center;
      border: 1px solid $BOX_LINE;
      span{
        display: inline-block;
        color: #ff7300;
        margin-top: rem(15px);
      }
    }
    ul{
      li{
        padding:rem(15px);
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        label{
          display: inline-block;
          width: 30%;
        }
        div{
          display: inline-block;

        }
        .copy{
          color: $ACTIVE_FONT_COLOR;
          padding:0 rem(10px);
        }
        i{
          color: red;
        }
      }
    }
  }
  //复制成功
  .copySuccess{
    position: fixed;
    top:-10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: rem(200px);
    height: rem(60px);
    padding: rem(20px);
    text-align: center;
    border-radius: rem(10px);
    color: #FFFFFF;
    font-size: rem(20px);
    background-color: #495b75;
  }
  .remark{
    padding: rem(15px);
    h4{
      font-size: rem(16px);
      padding: rem(5px);
    }
    p{
      font-size: rem(14px);
      padding: rem(4px);
      line-height: 1.2;
      i{
        color: red;
      }
      a{
        color: $ACTIVE_COLOR;
      }
      span{
        color:#ffe38f;
      }
    }
  }
  .row{
    padding:rem(10px);
    border-bottom: 1px solid #EAE8E8;
    overflow: hidden;
    height: rem(42px);
    font-size: 0;
    label{
      display: inline-block;
      width: 30%;
      text-align: left;
      align-self: center;
      font-size: rem(16px);
    }
    .input{
      display: inline-block;
      width: 70%;
      border: none;
      outline: none;
      font-size: rem(16px);
      &::placeholder {
        align-self: center;
        line-height: 1.3;
      }
    }
  }
}