@import "../variable";
//darkType
.record.dark{
  ul li{
    background:$DARKTYP_GREY;
    border-color:$DEEP_GREY_FONT_COLOR;
    .right p{
      color:$BASIC_FONT_COLOR;
    }
    &:last-child{
      border-color:$DEEP_GREY_FONT_COLOR;
    }
  }
}
//end
.record{
  position: relative;
  height: 100%;
  padding-top: rem(44px);
  background: $OTHER_BACKGROUND;
  ul{
    padding-bottom: rem(60px);
    li{
      background: $DEFAULT_BACKGROUND;
      padding: rem(10px);
      border-bottom: 1px solid #E3E3E3;
      display: flex;
      .left, .right{
        font-size: 0;
        flex: 1;
        p{
          font-size: rem(15px);
          color: $ACTIVE_COLOR;
          line-height: 150%;
        }
        span{
          font-size: rem(13px);
          color: #B5B5B5;
          line-height: 200%;
        }
      }
      .right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p{
          font-size: rem(18px);
          color:#56605D;
        }
      }
    }
    li:last-child{
      border-bottom: 1px solid $BOX_LINE;
    }
  }
  img{
    display: block;
    width: rem(200px);
    padding-top: rem(100px);
    margin: 0 auto;
  }
}